{% extends 'index.html' %}

{% block content %}


<!-- Tabella da mostrare con screen size da PC -->
<div class="container mt-4 d-none d-lg-block">

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link button-fancy" href="/ass_agcm"  style="font-size: min(16px, 1.15vw);">Assistenza in procedimenti <br>antitrust con AGCM</a>
      </li>
      <li class="nav-item border rounded-top">
        <a class="nav-link button-fancy" href="/danni" style="font-size: min(16px, 1.05vw);">Identificazione e quantificazione <br>  danni antitrust, IP e contratti </a>
      </li>
      <li class="nav-item border rounded-top">
        <a class="nav-link button-fancy" href="/energia"  style="font-size: min(16px, 1.05vw);">Mercati <br> dell'energia</a>
      </li>
      <li class="nav-item border rounded-top">
        <a class="nav-link disabled" href="#" style="font-size: min(16px, 1.05vw);">Proprietà intellettuale: <br> valutazione e contenzioso</a>
      </li>
      <li class="nav-item border rounded-top">
        <a class="nav-link button-fancy" href="/regolatorio" style="font-size: min(16px, 1.05vw);">Consulenza <br> regolatoria</a>
      </li>
      <li class="nav-item border rounded-top">
        <a class="nav-link active" href="#" style="color: #142d4c; font-size: min(16px, 1.05vw);"><strong>Aiuti <br> di Stato</strong></a>
      </li>
      <li class="nav-item border rounded-top">
        <a class="nav-link button-fancy" href="/arbitrati" style="font-size: min(16px, 1.05vw);"> &nbsp; <br>Arbitrati </a>
      </li>
    </ul>
  </div>
  <div class="card-body">
  
  <div class="row">
   <div class="col-1"><p class="card-title text-center" style="margin-top: 5px; color: #142d4c; text-orientation: upright; writing-mode: vertical-rl; font-size: 10px;"><strong><i class="bi bi-umbrella-fill" style="font-size: 70px;"></i></strong></p></div>
    
    <div class="card-text col text-start" style="font-size: 18px; margin-left: 10px">
    <h3 class="card-title mt-2" style="color: #142d4c;"><strong>Aiuti <br> di Stato </strong>   </h3>
    <p class="card-text text-start mt-3" >

Le imprese che operano con un contratto di servizio, ma anche quelle imprese che operano
in mercati oggetto di incentivi o interventi finanziari dello Stato – quali il mercato dell’energia
o talvolta quello dell’auto o dell’acciaio – sono destinatarie di provvedimenti che possono essere
etichettati come aiuti di Stato non compatibili con i trattati dell’Unione europea.

     </p>
     <p class="card-text text-start">

Per rispondere a questi dubbi (e rappresentare le ragioni delle imprese di fronte alle autorità di Bruxelles)
occorre un’analisi economica che convinca le autorità che gli aiuti rispettano i principi comunitari sugli
aiuti orizzontali ossia su quelli regionali.

      </p>
      
       <p class="card-text text-start">

  Il nostro Studio coniuga l’esperienza di ricerca sul tema degli aiuti di Stato, necessaria per analizzare
le politiche pubbliche, con quella nella consulenza, ugualmente necessaria per coniugare l’analisi delle
politiche con il punto di vista delle imprese.

          </p>
  
  <p align="left"><a  class="navbar-brand" href="/"><button class="button2" type="button" style="margin-top: 15px;"> <h3 class="display-3" style="font-size: 25px;"><strong>Torna alla home</strong>  &nbsp;<i class="bi bi-house-fill" style="font-size: 25px;"></i></h3></button></a></p>
  
 </div>
   </div>
  </div>
</div>

</div>

<!-- Tabella da mostrare con screen size da smartphone -->
<div class="container mt-4 d-lg-none">

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
         <a class=" nav-link active" style="color: #142d4c; font-size: 14px;"><div class="row"><i class="col-1 bi bi-umbrella-fill" style="font-size: 32px; margin-top: -6px;"></i><div class="col"><strong>Aiuti <br>di Stato</strong></div></div></a>
      </li>
    </ul>
  </div>
  <div class="card-body">
  

    <div class="card-text col text-start" style="font-size: 14px;">
   
           <p class="card-text text-start mt-3" >

       Le imprese che operano con un contratto di servizio, ma anche quelle imprese che operano
       in mercati oggetto di incentivi o interventi finanziari dello Stato – quali il mercato dell’energia
       o talvolta quello dell’auto o dell’acciaio – sono destinatarie di provvedimenti che possono essere
       etichettati come aiuti di Stato non compatibili con i trattati dell’Unione europea.

            </p>
            <p class="card-text text-start">

       Per rispondere a questi dubbi (e rappresentare le ragioni delle imprese di fronte alle autorità di Bruxelles)
       occorre un’analisi economica che convinca le autorità che gli aiuti rispettano i principi comunitari sugli
       aiuti orizzontali ossia su quelli regionali.

             </p>
             
              <p class="card-text text-start">

         Il nostro Studio coniuga l’esperienza di ricerca sul tema degli aiuti di Stato, necessaria per analizzare
       le politiche pubbliche, con quella nella consulenza, ugualmente necessaria per coniugare l’analisi delle
       politiche con il punto di vista delle imprese.

                 </p>
              
               <p align="center"><a  class="navbar-brand" href="/"><button class="button3" type="button" style="margin-top: 15px;"> <h3 class="display-3" style="font-size: 15px;"><strong>Torna alla home</strong>  &nbsp;<i class="bi bi-house-fill" style="font-size: 15px;"></i></h3></button></a></p>
               

   </div>
  </div>
</div>

</div>


{% endblock %}


