{% extends 'index.html' %}

{% block content %}

<div style="padding-top:130px;"></div>

<div class="container px-4" >

<p align="left" style="margin-left: 100px;">

<hr width="10%" style="margin-top: 30px; height:2px; border-width:0; color:#142d4c; background-color:#142d4c">
<hr width="20%" style="margin-top: -14px; height:2px; border-width:0; color:#142d4c; background-color:#142d4c">
<hr width="40%" style="margin-top: -14px; height:2px; border-width:0; color:#142d4c; background-color:#142d4c">
<table style="margin-top: -48px;">

<tr>
    <td rowspan="6"><img src="{{url_for('static',filename='images/Alessia Savoldi.jpg')}}" style="height: 210px; width: 210px; border-radius: 50%; border:4px solid; border-color:#142d4c;" alt="img"></td>
    <td> &nbsp; </td>
</tr>
<tr>
    <td>
    &nbsp;
    </td>
</tr>
<tr>
    <td>
    <strong style="font-size: 40px; margin-left: 30px; color:#142d4c;"> Alessia Savoldi </strong>
    </td>
</tr>
<tr>
    <td>
    <i style="font-size: 32px; margin-left: 30px; color:#142d4c;"> Senior economist</i>  
    </td>
</tr>
<tr>
    <td>
    &nbsp;
    </td>
</tr>
<tr>
    <td>
    &nbsp;
    </td>
</tr>
</table>

<hr width="40%" style="margin-top: -32px; height:2px; border-width:0; color:#142d4c; background-color:#142d4c">
<hr width="20%" style="margin-top: -14px; height:2px; border-width:0; color:#142d4c; background-color:#142d4c">
<hr width="10%" style="margin-top: -14px; height:2px; border-width:0; color:#142d4c; background-color:#142d4c">


</p>



<h3 class="display-3" style="margin-top:60px; font-size: 25px;">
<strong>Alessia </strong> si è laureata in <strong>Economia Politica</strong> presso l'<strong>Università degli Studi di Brescia</strong>
e ha conseguito 
<br>un master in <strong>Economia delle reti e dei trasporti</strong> all'<strong>Università di Toulouse</strong> (Francia), 
dove si è specializzata 
<br>nei temi di <strong>regolazione ed economia industriale</strong> con particolare riferimento 
al <strong>settore dei trasporti</strong>.
</h3>
<h3 class="display-3" style="margin-top:10px; font-size: 25px;">
Ha inoltre conseguito il <strong>dottorato in Economia, mercati ed istituzioni</strong> presso la <strong>Scuola di Studi Avanzati 
<br>IMT di Lucca </strong> dove ha approfondito i temi di <strong>regolazione e organizzazione industriale</strong>, sia dal punto di vista 
<br>quantitativo che da quello teorico.
 </h3>
 
 <h3 class="display-3" style="margin-top:10px; font-size: 25px;">
 E' attualmente assegnista di ricerca presso il  <strong>Dipartimento di Economia e Management dell'Università 
  <br>degli Studi di Brescia </strong>, dove svolge anche attività di assistenza alla didattica per il corso di microeconomia.
  </h3>
  
<h3 class="display-3" style="margin-top:10px; font-size: 25px;">
 Presso lo studio si occupa di casi in materia di <strong>antitrust</strong>, <strong>regolazione</strong> e <strong>proprietà intellettuale</strong>.
 </h3>
 
 <p align="left"><a  class="navbar-brand" href="/home#team"><button class="button1" type="button" style="margin-top: 60px;"> <h3 class="display-3" style="font-size: 25px;"><strong>Gli altri professionisti</strong>  &nbsp;<i class="bi bi-people-fill" style="font-size: 25px;"></i></h3></button></a></p>


</div>











{% endblock %}