{% extends 'index_2.html' %}

{% block content %}

<!-- Masthead-->
<div style="padding-top:130px;"></div>

<section>
<div class="container px-4" >
<div class="row" style=" color: #142d4c;">
<h2 style="font-size: 30px; margin-bottom:40px; margin-top:30px;"> Aree di attività <i class="bi bi-chevron-double-right"></i> <i class="entry" style="font-size: 30px;">Arbitrati</i></h2>

<h3 class="display-3" style=" font-size: 25px;">
<strong>Gli arbitrati richiedono una serie di <i>skills</i> di natura piuttosto differenti, poiché tipicamente 
<br>l’economista interviene come esperto e deve sostenere il confronto con una controparte 
<br>ugualmente tecnica, ma deve convincere gli arbitri che normalmente sono giuristi.</strong> 
</h3>
<h3 class="display-3" style="margin-top:5px; font-size: 25px;">
<strong>Il primo elemento necessario è quella credibilità che in sede arbitrale deriva principalmente 
<br>da un'analisi approfondita dei problemi e da un utilizzo dei dati rigoroso ma equilibrato</strong>.
</h3>
<h3 class="display-3" style="margin-top:5px; font-size: 25px;">
<strong>Il secondo elemento chiave è la capacità di comunicare con efficacia, che una lunga esperienza 
<br>con magistrati civili e amministrativi ci ha consentito di sviluppare</strong>.
 </h3>
<p align="left" style="margin-top:35px;"><a  class="navbar-brand" href="/home"><button class="button1" type="button" style="margin-top: 30px;"> <h3 class="display-3" style="font-size: 25px;"><strong>Torna alla home</strong>  &nbsp;<i class="bi bi-house-fill" style="font-size: 25px;"></i></h3></button></a></p>

</div>
</div>
</section>
    
{% endblock %}




