{% extends 'index_2_eng.html' %}

{% block content %}

<!-- Masthead-->
<div style="padding-top:130px;"></div>

<section>
<div class="container px-4" >
<div class="row" style=" color: #142d4c;">
<h2 style="font-size: 30px; margin-bottom:40px; margin-top:30px;"> Areas of activity <i class="bi bi-chevron-double-right"></i> <i class="entry" style="font-size: 30px;">Arbitrations</i></h2>

<h3 class="display-3" style=" font-size: 25px;">
<strong>Arbitrations request several skills of different nature: the economist intervenes typically as expert and has to bear the debate with an equally technical counterparty, but, on the other side, he has to persuade arbitrators, who normally are jurists. </strong>
</h3>
<h3 class="display-3" style=" font-size: 25px;">
<strong>The first necessary requisite is that credibility that, before the judicial capital, originates from a deep analysis of the problems and from a rigid but well-balanced use of the data.   </strong>
</h3>
<h3 class="display-3" style="margin-top:5px; font-size: 25px;">
<strong>The second key-element is the capability to communicate with efficacy, capability we developed thanks to a long experience with civil and administrative magistrates.</strong>




<p align="left" style="margin-top:35px;"><a  class="navbar-brand" href="/home_eng"><button class="button1" type="button" style="margin-top: 30px;"> <h3 class="display-3" style="font-size: 25px;"><strong>Home page</strong>  &nbsp;<i class="bi bi-house-fill" style="font-size: 25px;"></i></h3></button></a></p>

</div>
</div>
</section>


    
{% endblock %}