{% extends 'index_2_eng.html' %}

{% block content %}

<!-- Masthead-->
<div style="padding-top:130px;"></div>

<section>
<div class="container px-4" >
<div class="row" style=" color: #142d4c;">
<h2 style="font-size: 30px; margin-bottom:40px; margin-top:30px;"> Areas of activity <i class="bi bi-chevron-double-right"></i> <i class="entry" style="font-size: 30px;">Assistance in financial transactions for infrastructures</i></h2>

<h3 class="display-3" style=" font-size: 25px;">
<strong>If an institutional investor evaluates an equity acquisition (or the financing) of a regulated firm, as for instance a gas pipeline or an airport managing institution, it is necessary an analysis of the regulatory framework, the so called “regulatory due diligence”, to be carried out together with the legal one. It is not only the plain identification of the rules of the sector, but also and especially the identification of the risks the firms have to undergo.   </strong>
</h3>
<h3 class="display-3" style="margin-top:5px; font-size: 25px;">
<strong>It is then an analysis of the rules trustworthiness, both in comparison with the past experiences and with the issues arisen from the political debate. </strong>
</h3>
<h3 class="display-3" style="margin-top:5px; font-size: 25px;">
<strong>Our firm expertise in the regulation field and its direct knowledge of the Authorities and their internal mechanisms permit to lead the investment options with higher awareness of the risks and of the possible upsides.  </strong>
</h3>




<p align="left" style="margin-top:35px;"><a  class="navbar-brand" href="/home_eng"><button class="button1" type="button" style="margin-top: 30px;"> <h3 class="display-3" style="font-size: 25px;"><strong>Home page</strong>  &nbsp;<i class="bi bi-house-fill" style="font-size: 25px;"></i></h3></button></a></p>

</div>
</div>
</section>


    
{% endblock %}