{% extends 'index_2.html' %}

{% block content %}

<!-- Masthead-->
<div style="padding-top:130px;"></div>

<section>
<div class="container px-4" >
<div class="row" style=" color: #142d4c;">
<h2 style="font-size: 30px; margin-bottom:40px; margin-top:30px;"> Aree di attività <i class="bi bi-chevron-double-right"></i> <i class="entry" style="font-size: 30px;">Assistenza in operazioni finanziarie per infrastrutture</i></h2>

<h3 class="display-3" style=" font-size: 25px;">
<strong>Quando un investitore istituzionale considera l’acquisizione di <i>equity</i> (o il finanziamento) di 
<br>un'impresa regolata quale un gasdotto o un gestore aeroportuale, occorre una analisi del 
<br>quadro regolatorio, quella che si chiama “<i>due diligence regolatoria</i>”, da affiancare a quella legale.</strong>
</h3>
<h3 class="display-3" style="margin-top:5px; font-size: 25px;">
<strong>Non si tratta solo o tanto di una ricognizione delle norme che disciplinano l’attività nel settore, 
<br>ma anche e soprattutto dell'identificazione dei rischi ai quali le imprese sono sottoposte, di una 
<br>analisi dell'affidabilità delle regole, sia rispetto all’esperienza passata, sia rispetto ai problemi 
<br>che si delineano nel dibattito politico.</strong>
</h3>
<h3 class="display-3" style="margin-top:5px; font-size: 25px;">
<strong>La competenza dello Studio nel campo della regolazione e la conoscenza diretta delle Autorità e 
<br>dei loro meccanismi interni consente di guidare le scelte di investimento con maggiore contezza 
<br>dei rischi e dei possibili <i>upside</i>.</strong>
 </h3>
<h3 class="display-3" style="margin-top:5px; font-size: 25px;">
 <strong>Un'analisi simile viene condotta nel caso sia necessaria l'asseverazione di piani economico-finanziari 
 <br>di imprese che operano in settori regolati, verificando che i ricavi riflettano fedelmente le regole tariffarie, 
 <br>che le regole contabili siano tradotte in modo appropriato e che nel suo complesso il progetto sia sostenibile.</strong>
</h3>
<p align="left" style="margin-top:35px;"><a  class="navbar-brand" href="/home"><button class="button1" type="button" style="margin-top: 30px;"> <h3 class="display-3" style="font-size: 25px;"><strong>Torna alla home</strong>  &nbsp;<i class="bi bi-house-fill" style="font-size: 25px;"></i></h3></button></a></p>

</div>
</div>
</section>
    
{% endblock %}

 





