{% extends 'index.html' %}

{% block content %}

<div style="padding-top:130px;"></div>

<div class="container px-4" >

<p align="left" style="margin-left: 100px;">

<hr width="10%" style="margin-top: 30px; height:2px; border-width:0; color:#142d4c; background-color:#142d4c">
<hr width="20%" style="margin-top: -14px; height:2px; border-width:0; color:#142d4c; background-color:#142d4c">
<hr width="40%" style="margin-top: -14px; height:2px; border-width:0; color:#142d4c; background-color:#142d4c">
<table style="margin-top: -48px;">

<tr >
    <td rowspan="6"><img src="{{url_for('static',filename='images/Carlo Scarpa.webp')}}" style="height: 210px; width: 210px; border-radius: 50%; border:4px solid; border-color:#142d4c;" alt="img"></td>
    <td> &nbsp; </td>
</tr>
<tr>
    <td>
    &nbsp;
    </td>
</tr>
<tr>
    <td>
    <strong style="font-size: 40px; margin-left: 30px; color:#142d4c;"> Carlo Scarpa </strong>
    </td>
</tr>
<tr>
    <td>
    <i style="font-size: 32px; margin-left: 30px; color:#142d4c;"> Fondatore</i>  
    </td>
</tr>
<tr>
    <td>
    &nbsp;
    </td>
</tr>
<tr>
    <td>
    &nbsp;
    </td>
</tr>
</table>

<hr width="40%" style="margin-top: -32px; height:2px; border-width:0; color:#142d4c; background-color:#142d4c">
<hr width="20%" style="margin-top: -14px; height:2px; border-width:0; color:#142d4c; background-color:#142d4c">
<hr width="10%" style="margin-top: -14px; height:2px; border-width:0; color:#142d4c; background-color:#142d4c">


</p>



<h3 class="display-3" style="margin-top:60px; font-size: 25px;">
<strong>Carlo Scarpa </strong> è nato a Parma nel 1961, è <strong>professore ordinario</strong> di <strong>Economia Politica</strong> presso l’<strong>Università 
<br>di Brescia</strong>, dove ha tenuto corsi di <strong>Economia politica</strong>, <strong>Economia industriale</strong> e <strong>Politica della concorrenza</strong>.
</h3>
<h3 class="display-3" style="margin-top:10px; font-size: 25px;">
Dopo la laurea a Parma, ha conseguito il <strong>Dottorato di ricerca</strong> a Bologna (tesi in <strong>economia internazionale</strong>) 
<br>e il <strong>D.Phil.</strong> in <strong>Economia</strong> al <strong>Nuffield College</strong>, <strong>Oxford University</strong>, lavorando su temi di <strong>economia della regolazione</strong> 
<br>con John Vickers e George Yarrow.
 </h3>
 
 <h3 class="display-3" style="margin-top:10px; font-size: 25px;">
Rientrato in Italia, ha insegnato all’<strong>Università di Bologna</strong> fino al 2000 e poi all’<strong>Università di Brescia</strong>.
  </h3>
  
<h3 class="display-3" style="margin-top:10px; font-size: 25px;">
Nel frattempo ha insegnato e svolto attività di ricerca anche presso le <strong>Università di Oxford</strong>, <strong>Cambridge</strong>, <strong>Evry</strong>, 
<br><strong>York</strong>, la <strong>Johns Hopkins University</strong>, la <strong>SDA Bocconi</strong>, l’<strong>Università Bocconi</strong>, il <strong>Boston College</strong>, la <strong>London Business 
<br>School</strong> e l’<strong>Ecole Normale Superieure</strong> di Parigi.
 </h3> 
<h3 class="display-3" style="margin-top:10px; font-size: 25px;">
Già membro del comitato scientifico del <strong>Centro Studi Confindustria</strong> e <strong>Presidente dell’Osservatorio energetico 
<br>di Ref</strong>, è stato coordinatore scientifico generale di diversi progetti finanziati dalla <strong>Commissione Europea</strong> su temi 
<br>di <strong>privatizzazione</strong> e di <strong>energia</strong>.
 </h3>
 <h3 class="display-3" style="margin-top:10px; font-size: 25px;">
 E’ tra i fondatori del sito lavoce.info
  </h3>
 
 <p align="left"><a  class="navbar-brand" href="/home#team"><button class="button1" type="button" style="margin-top: 60px;"> <h3 class="display-3" style="font-size: 25px;"><strong>Gli altri professionisti</strong>  &nbsp;<i class="bi bi-people-fill" style="font-size: 25px;"></i></h3></button></a></p>


</div>











{% endblock %}