{% extends 'index.html' %}

{% block content %}

<!-- Masthead-->
<div style="padding-top:95px;"></div>

<section style="background-image: url({{url_for('static',filename='images/desk.jpg')}}); background-size: cover; height:600px; width:100%; padding-top:80px;">
<div class="row justify-content-center">
    <div class="container text-center">
       <entry>  <img style="margin-top: -65px;" src="https://raw.githubusercontent.com/EmanueleApostolo/Beta-Consulenze-Economiche/main/static/images/Logo%20CE.png" width="425" alt="Logo"> </entry>
    </div>

    <div id="carouselExampleDark" class="carousel carousel-dark slide" style="width:1500px; margin-top: 60px">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner entry-animation">
            <div class="carousel-item active" data-bs-interval="3">
                <!-- <img src="..." class="d-block w-100" alt="..."> -->

                <!-- Instead of image, div with style and min-height --><div style="height: 270px;">
                    <div class="carousel-caption d-block" style="width:1200px;">
                       <h3 class="display-3" style="margin-top:15px; font-size: 35px; color: #142d4c; margin-right:150px;">
                     <strong>Studio specializzato in antitrust, arbitrati, consulenza regolatoria, mercati dell'energia e operazioni finanziarie per infrastrutture.
                     <br> Assistiamo alcune delle maggiori imprese nazionali, investitori istituzionali e tribunali in tandem con i migliori studi legali del Paese.</strong> 
                       </h3>
                    </div>
                </div><!-- end of div style min-height: 140px; -->
            </div>
            <div class="carousel-item" data-bs-interval="3">
                <!-- Instead of image, div with style and min-height --><div style="height: 270px;">
                    <div class="carousel-caption d-block" style="width:1200px;">
                       <h3 class="display-3" style="margin-top:15px; font-size: 35px; color: #142d4c; margin-right:150px;">
                    <strong>Forniamo assistenza personalizzata ad ogni specifica necessità. <br> Il nostro è un approccio flessibile e vicino alle esigenze del cliente in tutte le fasi del confronto formale o informale con finanziatori, autorità amministrative e/o autorità giudiziarie.</strong> 
                       </h3>
                    </div>
                </div><!-- end of div style min-height: 140px; -->
            </div>
            <div class="carousel-item" data-bs-interval="3">
                <!-- Instead of image, div with style and min-height --><div style="height: 270px;">
                    <div class="carousel-caption d-block" style="width:1200px;">
                          <h3 class="display-3" style="margin-top:15px; font-size: 35px; color: #142d4c; margin-right:150px;">
                        <strong>A partire da una ampia esperienza di ricerca teorica prima e sul campo poi, disponiamo di un team di economisti con un'ottima formazione, una grande capacità analitica e fortemente motivati. 
                        <br> Il nostro è un approccio di qualità votato all'efficienza e all'efficacia.</strong>
                          </h3>
                    </div>
                </div><!-- end of div style min-height: 140px; -->
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button  class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span id="myClick" class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    </div><!-- end .container -->
</div>
</section>

<script>

showSlides();

function showSlides() {
  document.getElementById("myClick").click(); 
  setTimeout(showSlides, 8000); // Change image every 10 seconds
}


</script>

<section id="chisiamo"></section>

<section id="about" style="margin-top: 170px; color: #142d4c;">
        <div class="container px-4 animated-box" align="center">
            <div class="row gx-4 justify-content-center border-fancy" align="left">
                <div class="col-lg-8" style="width:1000px;">
                    <h2 style="font-size: 60px;"> Chi siamo &nbsp; <i class="bi bi-info-circle" style="font-size: 50px;"></i> </h2>
                    <h3 class="display-3" style="margin-top:30px; font-size: 30px;"> <strong>Lo studio di Consulenze Economiche nasce dall'esperienza di ricerca e di consulenza del prof. Carlo Scarpa e del suo team di collaboratori.</h3> 
                    
                    <h3 class="display-3" style="margin-top:15px; margin-bottom:25px; font-size: 30px;">
                   Il focus della nostra attività è l'analisi economica dei problemi delle imprese che si devono rapportare con le autorità di concorrenza o di regolazione, coi tribunali oppure con il mondo della finanza per acquisizioni o progetti infrastrutturali</strong>.
                    </h3>
                     <!-- <p align="right"><a  class="navbar-brand" href="#team"><button class="button1" type="button" style="margin-top: 30px;"> <h3 class="display-3" style="font-size: 25px;"><strong>Scopri di più</strong>  &nbsp;<i class="bi bi-plus-circle" style="font-size: 25px;"></i></h3></button></a></p> -->
                </div>
            </div>
        </div>
</section>

<section id="areeattivita"></section>

<section id="about" style="margin-top: 170px; color: #142d4c;">
        <div class="container px-4 animated-box">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8" style="width:1000px;">
                    <h2  style="font-size: 60px; margin-bottom:60px;"> Aree di attività &nbsp; <i class="bi bi-search" style="font-size: 50px;"></i></h2>
                    <div class="text-center" style="font-size: 20px;">
                    <div class="row" style="margin-top:30px;">
                     <div class="col"> <a  class="navbar-brand" href="/sostegnoagcm"> <button class="up1"> <i class="bi bi-shield-shaded" style="font-size: 50px;"></i> <div class="w-100"></div> <strong>Assistenza in procedimenti </strong> <div class="w-100"></div> <i>antitrust</i> con Agcm </button> </a> </div>
                      <div class="col"> <a  class="navbar-brand" href="/quantificazionedanni"> <button class="up1"><i class="bi bi-pie-chart-fill" style="font-size: 50px;"></i> <div class="w-100"></div> <strong>Identificazione e quantificazione danni</strong> <div class="w-100"></div> <i>antitrust</i>, IP e contratti </button> </a> </div>
                       <div class="col"> <a  class="navbar-brand" href="/mercatienergia"> <button class="up1"><i class="bi bi-battery-charging" style="font-size: 50px;"></i> <div class="w-100"></div> <strong>Mercati</strong> <div class="w-100"></div> <strong>dell'energia</strong> </button> </a> </div>
                      <div class="w-100" style="margin-bottom:60px;"></div>
                      <div class="col"> <a  class="navbar-brand" href="/assistenzaoperazioni"> <button class="up1"><i class="bi bi-signpost-2" style="font-size: 50px;"></i> <div class="w-100"></div> <strong>Proprietà intellettuale:</strong> <div class="w-100"></div> valutazione e contenzioso</button> </a> </div>
                       <div class="col"> <a  class="navbar-brand" href="/consulenzaregolatoria"> <button class="up1"><i class="bi bi-clipboard-check" style="font-size: 50px;"></i> <div class="w-100"></div> <strong>Consulenza <div class="w-100"></div> regolatoria</strong> </button> </a> </div>
                       <div class="col"> <a  class="navbar-brand" href="/aiutidistato"> <button class="up1"><i class="bi bi-umbrella-fill" style="font-size: 50px;"></i> <div class="w-100"></div> <strong>Aiuti <div class="w-100"></div> di Stato</strong> </button> </a> </div>
                       <div class="w-100" style="margin-bottom:60px;"></div>
                       <div class="col"></div>
                        <div class="col"> <a  class="navbar-brand" href="/arbitrati"> <button class="up1"> <img style="margin-bottom: 10px;" src="https://raw.githubusercontent.com/EmanueleApostolo/Beta-Consulenze-Economiche/main/static/images/hammer%202.png" width="80" > <div class="w-100"></div> <strong>Arbitrati</strong> </button> </a> </div>
                        <div class="col"></div>
                    </div>
                      </div>
                </div>
            </div>
        </div>
</section>


<!--

<section id="team"></section>

<section style="margin-top: 170px; color: #142d4c;">
        <div class="container px-4 animated-box">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8" style="width:1000px;">
    <h2 style="font-size: 60px;"> Il nostro team &nbsp; <i class="bi bi-people-fill" style="font-size: 50px;"></i> </h2>
    
    <div class="wrapper_2 " style="color: #142d4c; margin-top: 70px;">
    <div class="container_22" style="width:300px; color: #ffffff; flex-direction: column">
     <a class="navbar-brand" href="/team_cs">
    <div class="img_2" style="margin-top: -18px"><img src="{{url_for('static',filename='images/Carlo Scarpa.webp')}}" alt="img" draggable="false"></div>
   <br>
   <h2 style="margin-top: 4px">Carlo Scarpa</h2>
    <span></span>
    </div>
    </a>
    <div class="wrapper">
      <i id="left" class="fa-solid fa-angle-left" style="z-index: 10;"></i>
      <ul class="carousel_2" style="margin-left: 35px">
        <li class="card" style="border-color: #ffffff; margin-top: 20px;">
         <a class="navbar-brand" href="/team_as"> 
          <div class="img"><img src="{{url_for('static',filename='images/Alessia Savoldi.jpg')}}" alt="img" draggable="false"></div>
          <h2><strong>Alessia Savoldi</strong></h2>
          <span></span>
          </a>
        </li>
       <li class="card" style="border-color: #ffffff; margin-top: 20px;">
          <div class="img"><img src="{{url_for('static',filename='images/Davide Piazzani.jpg')}}" alt="img" draggable="false"></div>
          <h2><strong>Davide Piazzani</strong></h2>
          <span></span>
        </li>
         <li class="card" style="border-color: #ffffff; margin-top: 20px;">
           <div class="img"><img src="{{url_for('static',filename='images/Davide Piazzani.jpg')}}" alt="img" draggable="false"></div>
           <h2><strong>Stefano Castaldi</strong></h2>
           <span></span>
         </li>
         <li class="card" style="border-color: #ffffff; margin-top: 20px;">
           <div class="img"><img src="{{url_for('static',filename='images/Davide Piazzani.jpg')}}" alt="img" draggable="false"></div>
           <h2><strong>Roberta Sannino</strong></h2>
           <span></span>
         </li>
      </ul>
      <i id="right" class="fa-solid fa-angle-right" style="z-index: 10;"></i>
    </div>
      </div>

                </div>
            </div>
        </div>
</section>

-->

<section id="pubblicazioni"></section>
<section style="margin-top: 170px; color: #142d4c;">
        <div class="container px-4 animated-box">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8" style="width:1000px;">
                    <h2 style="font-size: 60px;"> Pubblicazioni &nbsp; <i class="bi bi-mortarboard" style="font-size: 50px;"></i> </h2>
                     <p align="left" style="margin-left: 100px;"><a  class="navbar-brand" href="/pubblicazioniaiutidistato"> <button class="btn-fancy"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 28px;"><i class="bi bi-1-square-fill"  style="font-size: 32px; margin-left: 25px;"></i><strong style="margin-left: 35px;">Aiuti di Stato</strong></h3></button></a></p>
                     <p align="left" style="margin-left: 100px;"><a  class="navbar-brand" href="/pubblicazioniprocessicompetitivi"><button class="btn-fancy" type="button" style="margin-top: 10px; text-align: left"> <h3 class="display-3" style="font-size: 28px;"><i class="bi bi-2-square-fill" style="font-size: 32px; margin-left: 25px;"></i><strong style="margin-left: 35px;">Analisi dei processi competitivi</strong></h3></button></a></p>
                      <p align="left" style="margin-left: 100px;"><a  class="navbar-brand" href="/pubblicazionifinanzainfrastrutture"><button class="btn-fancy" type="button" style="margin-top: 10px; text-align: left"> <h3 class="display-3" style="font-size: 28px;"><i class="bi bi-3-square-fill"  style="font-size: 32px; margin-left: 25px;"></i><strong style="margin-left: 35px;">Infrastrutture e finanza</strong></h3></button></a></p>
                       <p align="left" style="margin-left: 100px;"><a  class="navbar-brand" href="/pubblicazionimercatienergia"><button class="btn-fancy" type="button" style="margin-top: 10px; text-align: left"> <h3 class="display-3" style="font-size: 28px;"><i class="bi bi-4-square-fill"  style="font-size: 32px; margin-left: 25px;"></i><strong style="margin-left: 35px;">Mercati dell'energia</strong></h3></button></a></p>
                        <p align="left" style="margin-left: 100px;"><a  class="navbar-brand" href="/pubblicazioniservizipubblici"><button class="btn-fancy" type="button" style="margin-top: 10px; text-align: left"> <h3 class="display-3" style="font-size: 28px;"><i class="bi bi-5-square-fill"  style="font-size: 32px; margin-left: 25px;"></i><strong style="margin-left: 35px;">Servizi pubblici locali</strong></h3></button></a></p>
                         <p align="left" style="margin-left: 100px;"><a  class="navbar-brand" href="/pubblicazioniteoriaregolazione"><button class="btn-fancy" type="button" style="margin-top: 10px; text-align: left"> <h3 class="display-3" style="font-size: 28px;"><i class="bi bi-6-square-fill"  style="font-size: 32px; margin-left: 25px;"></i><strong style="margin-left: 35px;">Teoria della regolazione</strong></h3></button></a></p>
                </div>
            </div>
        </div>
</section>


    

{% endblock %}














