{% extends 'index_eng.html' %}

{% block content %}

<!-- Masthead-->
<div style="padding-top:95px;"></div>

<section style="background-image: url({{url_for('static',filename='images/desk.jpg')}}); background-size: cover; height:600px; width:100%; padding-top:80px;">
<div class="row justify-content-center">
    <div class="container text-center">
       <entry>  <img style="margin-top: -65px;" src="{{url_for('static',filename='images/Logo CE.png')}}" width="425" alt="Logo"> </entry>
    </div>

    <div id="carouselExampleDark" class="carousel carousel-dark slide" style="width:1500px; margin-top: 60px">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner entry-animation">
            <div class="carousel-item active" data-bs-interval="3">
                <!-- <img src="..." class="d-block w-100" alt="..."> -->

                <!-- Instead of image, div with style and min-height --><div style="height: 270px;">
                    <div class="carousel-caption d-block" style="width:1300px;">
                       <h3 class="display-3" style="margin-top:15px; font-size: 35px; color: #142d4c; margin-right:210px;">
                     <strong>Consulting firm specialized in antitrust, arbitrations, regulatory consulting, energy markets and financial transactions for infrastructure.
                     <br> Our firm assists some of the main national companies, institutional investors or courts, working closely with our country's main law firms.</strong>
                       </h3>
                    </div>
                </div><!-- end of div style min-height: 140px; -->
            </div>
            <div class="carousel-item" data-bs-interval="3">
                <!-- Instead of image, div with style and min-height --><div style="height: 270px;">
                    <div class="carousel-caption d-block" style="width:1200px;">
                       <h3 class="display-3" style="margin-top:15px; font-size: 35px; color: #142d4c; margin-right:150px;">
                         <strong>We are a boutique which provides a very personalized assistance always at the maximum level, according to an approach which puts the client at the centre of our work through all the stages of the dialogue with financial partners, courts and authorities</strong>.
                       </h3>
                    </div>
                </div><!-- end of div style min-height: 140px; -->
            </div>
            <div class="carousel-item" data-bs-interval="3">
                <!-- Instead of image, div with style and min-height --><div style="height: 270px;">
                    <div class="carousel-caption d-block" style="width:1200px;">
                          <h3 class="display-3" style="margin-top:15px; font-size: 35px; color: #142d4c; margin-right:150px;">
                        <strong>On the basis of a broad theoretical experience followed by a considerable consulting experience, we have a group of <br>economists with experience, strong analytical skills and <br>a strong commitment for quality work</strong>. 
                          </h3>
                    </div>
                </div><!-- end of div style min-height: 140px; -->
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button  class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span id="myClick" class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    </div><!-- end .container -->
</div>
</section>

<script>

showSlides();

function showSlides() {
  document.getElementById("myClick").click(); 
  setTimeout(showSlides, 8000); // Change image every 10 seconds
}
</script>


<section id="about" style="margin-top: 170px; color: #142d4c;">
        <div class="container px-4 animated-box" align="center">
            <div class="row gx-4 justify-content-center border-fancy" align="left">
                <div class="col-lg-8" style="width:1000px;">
                    <h2 style="font-size: 60px;"> About us &nbsp; <i class="bi bi-info-circle" style="font-size: 50px;"></i> </h2>
                    <h3 class="display-3" style="margin-top:30px; font-size: 30px;"> <strong>The firm of Consulenze Economiche arises from professor's Scarpa and his team's experience in research and consulting.</h3> 
                    
                    <h3 class="display-3" style="margin-top:15px; margin-bottom:25px; font-size: 30px;">
                  The focus of our activities is the economic analysis of the problems of firms which have to deal with competition or regulation autorities, tribunals or the financial world for takeovers or infrastructural projects </strong>.
                    </h3>
                   <!-- <p align="right"><a  class="navbar-brand" href="#team"><button id="areeattivita" class="button1" type="button" style="margin-top: 30px;"> <h3 class="display-3" style="font-size: 25px;"><strong>See more</strong>  &nbsp;<i class="bi bi-plus-circle" style="font-size: 25px;"></i></h3></button></a></p> -->
                </div>
            </div>
        </div>
</section>

<section id="areeattivita"></section>

<section id="about" style="margin-top: 170px; color: #142d4c;">
        <div class="container px-4 animated-box">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8" style="width:1000px;">
                    <h2 style="font-size: 60px; margin-bottom:60px;"> Areas of activity &nbsp; <i class="bi bi-search" style="font-size: 50px;"></i></h2>
                    <div class="text-center" style="font-size: 20px;">
                    <div class="row" style="margin-top:30px;">
                     <div class="col"> <a  class="navbar-brand" href="/sostegnoagcm_eng"> <button class="up1"> <i class="bi bi-shield-shaded" style="font-size: 50px;"></i> <div class="w-100"></div> <strong>Support in </strong> <i>antitrust</i> <div class="w-100"></div><strong>proceedings</strong> before Agcm </button> </a> </div>
                      <div class="col"> <a  class="navbar-brand" href="/quantificazionedanni_eng"> <button class="up1"><i class="bi bi-pie-chart-fill" style="font-size: 50px;"></i> <div class="w-100"></div> <strong>Damage evaluation:</strong> <div class="w-100"></div> <i>antitrust</i> and intellectual property </button> </a> </div>
                       <div class="col"> <a  class="navbar-brand" href="/mercatienergia_eng"> <button class="up1"><i class="bi bi-battery-charging" style="font-size: 50px;"></i> <div class="w-100"></div> <strong>Energy</strong> <div class="w-100"></div> <strong>markets</strong> </button> </a> </div>
                      <div class="w-100" style="margin-bottom:60px;"></div>
                      <div class="col"> <a  class="navbar-brand" href="/assistenzaoperazioni_eng"> <button class="up1"><i class="bi bi-signpost-2" style="font-size: 50px;"></i> <div class="w-100"></div> <strong>Assistance in financial <div class="w-100"></div> transactions for infrastructure</strong></button> </a> </div>
                       <div class="col"> <a  class="navbar-brand" href="/consulenzaregolatoria_eng"> <button class="up1"><i class="bi bi-clipboard-check" style="font-size: 50px;"></i> <div class="w-100"></div> <strong>Regulatory <div class="w-100"></div> consulting</strong> </button> </a> </div>
                       <div class="col"> <a  class="navbar-brand" href="/aiutidistato_eng"> <button class="up1"><i class="bi bi-umbrella-fill" style="font-size: 50px;"></i> <div class="w-100"></div> <strong>State <div class="w-100"></div> aids</strong> </button> </a> </div>
                       <div class="w-100" style="margin-bottom:60px;"></div>
                       <div class="col"></div>
                        <div class="col" id="pubblicazioni"> <a  class="navbar-brand" href="/arbitrati_eng"> <button class="up1"><img style="margin-bottom: 10px;" src="{{url_for('static',filename='images/hammer 2.png')}}" width="80" >  <div class="w-100"></div> <strong>Arbitrations</strong> </button> </a> </div>
                        <div class="col"></div>
                    </div>
                      </div>
                </div>
            </div>
        </div>
</section>


<!--

<section id="team"></section>

<section style="margin-top: 170px; color: #142d4c;">
        <div class="container px-4 animated-box">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8" style="width:1000px;">
    <h2 style="font-size: 60px;"> Our team &nbsp; <i class="bi bi-people-fill" style="font-size: 50px;"></i> </h2>
    
    <div class="wrapper_2 " style="color: #142d4c; margin-top: 70px;">
    <div class="container_22" style="width:300px; color: #ffffff; flex-direction: column">
    <div class="img_2" style="margin-top: -18px"><img src="{{url_for('static',filename='images/Carlo Scarpa.webp')}}" alt="img" draggable="false"></div>
   <br>
   <h2 style="margin-top: 4px">Carlo Scarpa</h2>
    <span></span>
    </div>
    <div class="wrapper">
      <i id="left" class="fa-solid fa-angle-left" style="z-index: 10;"></i>
      <ul class="carousel_2" style="margin-left: 35px">
        <li class="card" style="border-color: #ffffff; margin-top: 20px;">
          <div class="img"><img src="{{url_for('static',filename='images/Alessia Savoldi.jpg')}}" alt="img" draggable="false"></div>
          <h2><strong>Alessia Savoldi</strong></h2>
          <span></span>
        </li>
       <li class="card" style="border-color: #ffffff; margin-top: 20px;">
          <div class="img"><img src="{{url_for('static',filename='images/Davide Piazzani.jpg')}}" alt="img" draggable="false"></div>
          <h2><strong>Davide Piazzani</strong></h2>
          <span></span>
        </li>
         <li class="card" style="border-color: #ffffff; margin-top: 20px;">
           <div class="img"><img src="{{url_for('static',filename='images/Davide Piazzani.jpg')}}" alt="img" draggable="false"></div>
           <h2><strong>Stefano Castaldi</strong></h2>
           <span></span>
         </li>
         <li class="card" style="border-color: #ffffff; margin-top: 20px;">
           <div class="img"><img src="{{url_for('static',filename='images/Davide Piazzani.jpg')}}" alt="img" draggable="false"></div>
           <h2><strong>Roberta Sannino</strong></h2>
           <span></span>
         </li>
      </ul>
      <i id="right" class="fa-solid fa-angle-right" style="z-index: 10;"></i>
    </div>
      </div>

                </div>
            </div>
        </div>
</section>

-->

<section style="margin-top: 170px; color: #142d4c;">
        <div class="container px-4 animated-box">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8" style="width:1000px;">
                    <h2 style="font-size: 60px;"> Articles &nbsp; <i class="bi bi-mortarboard" style="font-size: 50px;"></i> </h2>
                     <p align="left" style="margin-left: 100px;"><a  class="navbar-brand" href="/pubblicazioniaiutidistato_eng"> <button class="btn-fancy"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 28px;"><i class="bi bi-1-square-fill"  style="font-size: 32px; margin-left: 25px;"></i><strong style="margin-left: 35px;">State aids</strong></h3></button></a></p>
                     <p align="left" style="margin-left: 100px;"><a  class="navbar-brand" href="/pubblicazioniprocessicompetitivi_eng"><button class="btn-fancy" type="button" style="margin-top: 10px; text-align: left"> <h3 class="display-3" style="font-size: 28px;"><i class="bi bi-2-square-fill" style="font-size: 32px; margin-left: 25px;"></i><strong style="margin-left: 35px;">Analysis of competition processes</strong></h3></button></a></p>
                      <p align="left" style="margin-left: 100px;"><a  class="navbar-brand" href="/pubblicazionifinanzainfrastrutture_eng"><button class="btn-fancy" type="button" style="margin-top: 10px; text-align: left"> <h3 class="display-3" style="font-size: 28px;"><i class="bi bi-3-square-fill"  style="font-size: 32px; margin-left: 25px;"></i><strong style="margin-left: 35px;">Infrastructures and finance</strong></h3></button></a></p>
                       <p align="left" style="margin-left: 100px;"><a  class="navbar-brand" href="/pubblicazionimercatienergia_eng"><button class="btn-fancy" type="button" style="margin-top: 10px; text-align: left"> <h3 class="display-3" style="font-size: 28px;"><i class="bi bi-4-square-fill"  style="font-size: 32px; margin-left: 25px;"></i><strong style="margin-left: 35px;">Energy markets</strong></h3></button></a></p>
                        <p align="left" style="margin-left: 100px;"><a  class="navbar-brand" href="/pubblicazioniservizipubblici_eng"><button class="btn-fancy" type="button" style="margin-top: 10px; text-align: left"> <h3 class="display-3" style="font-size: 28px;"><i class="bi bi-5-square-fill"  style="font-size: 32px; margin-left: 25px;"></i><strong style="margin-left: 35px;">Local public services</strong></h3></button></a></p>
                         <p align="left" style="margin-left: 100px;"><a  class="navbar-brand" href="/pubblicazioniteoriaregolazione_eng"><button class="btn-fancy" type="button" style="margin-top: 10px; text-align: left"> <h3 class="display-3" style="font-size: 28px;"><i class="bi bi-6-square-fill"  style="font-size: 32px; margin-left: 25px;"></i><strong style="margin-left: 35px;">Theory of regulation</strong></h3></button></a></p>
                </div>
            </div>
        </div>
</section>


    
{% endblock %}