{% extends 'index_2.html' %}

{% block content %}

<!-- Masthead-->
<div style="padding-top:130px;"></div>

<section>
<div class="container px-4" >
<div class="row" style=" color: #142d4c;">
<h2 style="font-size: 30px; margin-bottom:40px; margin-top:30px;"> Aree di attività <i class="bi bi-chevron-double-right"></i> <i class="entry" style="font-size: 30px;">Consulenza regolatoria</i></h2>

<h3 class="display-3" style=" font-size: 25px;">
<strong>Le imprese sottoposte a vincoli di regolazione hanno sovente necessità di confrontarsi con 
<br>le Autorità nei processi di consultazione su temi quali i regimi tariffari la remunerazione 
<br>del capitale, la qualità del servizio e gli incentivi agli investimenti</strong>.
</h3>
<h3 class="display-3" style="margin-top:5px; font-size: 25px;">
<strong>Lo Studio affianca le imprese in queste situazioni, aiutandole a inquadrare i problemi all’interno 
<br>dell'impostazione generale della regolazione, coniugando l’impostazione teorica che le Autorità 
<br>devono seguire e il punto di vista pratico.</strong> 
</h3>
<h3 class="display-3" style="margin-top:5px; font-size: 25px;">
<strong>La vasta esperienza internazionale dei nostri consulenti consente di confrontare le proposte 
<br>nazionali con l’esperienza di altri paesi, valutandone i risultati ottenuti e le problematiche emerse.</strong>
 </h3>
<h3 class="display-3" style="margin-top:5px; font-size: 25px;">
 <strong>Spesso i provvedimenti delle Autorità spingono le imprese a ricorrere in via giudiziale, il che le pone 
 <br>di fronte ad un complesso problema economico da affrontare dinnanzi alla magistratura amministrativa. 
 <br>In queste circostanze il ruolo dell’economista è di spiegare complesse formule – e le loro ricadute sui problemi dell’impresa – a magistrati spesso più avvezzi a ragionare su principi che a comprendere relazioni matematiche 
 <br>o principi economici. </strong>
</h3>
<h3 class="display-3" style="margin-top:5px; font-size: 25px;">
<strong>La consolidata esperienza dello Studio consente di effettuare un lavoro di mediazione, traducendo i principi 
<br>economici e le tecnicità in un linguaggio comprensibile, così da rappresentare – in tandem con i legali – in modo 
<br>efficace le ragioni delle imprese.</strong>
</h3>
<p align="left" style="margin-top:35px;"><a  class="navbar-brand" href="/home"><button class="button1" type="button" style="margin-top: 30px;"> <h3 class="display-3" style="font-size: 25px;"><strong>Torna alla home</strong>  &nbsp;<i class="bi bi-house-fill" style="font-size: 25px;"></i></h3></button></a></p>

</div>
</div>
</section>
    
{% endblock %}
 



 