{% extends 'index_2_eng.html' %}

{% block content %}

<!-- Masthead-->
<div style="padding-top:130px;"></div>

<section>
<div class="container px-4" >
<div class="row" style=" color: #142d4c;">
<h2 style="font-size: 30px; margin-bottom:40px; margin-top:30px;"> Areas of activity <i class="bi bi-chevron-double-right"></i> <i class="entry" style="font-size: 30px;">Regulatory consulting</i></h2>

<h3 class="display-3" style=" font-size: 25px;">
<strong>The firms subject to regulation duties have often the necessity to get in touch with specific Authorities concerning themes such as the tariff regimes, the capital remuneration, the service quality, the subsidies to investments. We support these firms in these situations, helping them to identify the problems in the general framework of regulation by combining the theoretical model which the Authorities have to comply with with the practical point of view. The wide international experience of our consultants allows us to compare the national proposals with other countries’ experience, with the results achieved and the arisen problems.  </strong>
</h3>
<h3 class="display-3" style="margin-top:5px; font-size: 25px;">
<strong>Sometimes – often – the Authorities’ provisions encourage the firms to take legal action, and that creates the issue to face a complex economic problem before the administrative magistrature. Under the circumstances the economist’s role is to explain difficult formulas – and their repercussions on the firm’s problems – to magistrates more accustomed to thinking about general concepts rather than to understanding mathematical relations or economic principles. </strong>
</h3>
<h3 class="display-3" style="margin-top:5px; font-size: 25px;">
<strong>The strong experience of our firm allows us to do a mediation between the economic principles and the technical terms in order to represent efficaciously, together with the legal team, the firms’ rights.  </strong>
</h3>




<p align="left" style="margin-top:35px;"><a  class="navbar-brand" href="/home_eng"><button class="button1" type="button" style="margin-top: 30px;"> <h3 class="display-3" style="font-size: 25px;"><strong>Home page</strong>  &nbsp;<i class="bi bi-house-fill" style="font-size: 25px;"></i></h3></button></a></p>

</div>
</div>
</section>


    
{% endblock %}