{% extends 'index.html' %}

{% block content %}


<!-- Da mostrare con screen size da pc -->

<div class="d-none d-lg-block container text-center" style="margin-top: 50px;">

<!-- Prima parte con logo e lista contatti -->
  <div class="row">
    <div class="col">
      <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><img src="https://raw.githubusercontent.com/EmanueleApostolo/Beta-Consulenze-Economiche/main/static/images/Logo CE.png" width="250" alt="Logo" style="margin-top: -20px"></use></svg>
    </div>
    <div class="col text-start" style="color: #142d4c;">
    <div class="row">
     <h2 style="margin-bottom: 25px">Contatti</h2>
     </div>
      <div class="row">
         <p id="boot-icon" class="bi bi-telephone-fill" style="color: #142d4c; font-size: 16px"> +39 02 2219 8970/71 <strong>  &nbsp; -  &nbsp; Fax:</strong> +39 02 8718 2255  </p>
       </div>
       <div class="row">
        <p id="boot-icon" class="bi bi-envelope-fill" style="color: #142d4c; font-size: 16px">  segreteria@consulenzeeconomiche.com </p>
       </div>
    </div>
  </div>
  
  <!-- Ultima riga con posizione studio e sito linkedin -->
  <div class="row">
   <div class="col">
    <p id="boot-icon" class="bi bi-geo-alt-fill" style="color: #142d4c; margin-left: 45px; font-size: 16px"> &nbsp; <strong> Via Rugabella 1 - 20122 Milano (MI) </strong></p>
   </div>
    <div class="col text-start">
      <a href="https://it.linkedin.com/company/consulenze-economiche " target="_blank" style="color: #142d4c; text-decoration:none; font-size: 16px"><p id="boot-icon" class="bi bi-linkedin"  style="color: #142d4c;" > <strong> Linkedin </strong>  </p> </a>
     </div>
  </div>
  
   <div class="row mt-4">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-8">
  <hr class="hr hr-blurry" />
  </div>
  </div>
  
   <div class="row" style="margin-top: 25px">
   <div class="col-lg-1">
   </div>
       <div class="col-lg-8">
         <iframe class="mb-4" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2798.5267715745736!2d9.185149854401699!3d45.459191496717985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786c6a9b8f968ef%3A0xb0a14017299454b7!2sVia%20Rugabella%2C%201%2C%2020122%20Milano%20MI!5e0!3m2!1sen!2sit!4v1707601377120!5m2!1sen!2sit" width="1000vw" height="500" style="border:0;" referrerpolicy="no-referrer-when-downgrade"></iframe>
       </div>
        
   </div>
   
</div>

<!-- Da mostrare con screen size da telefono -->

<div class="d-lg-none  container text-center" style="margin-top: 50px;">

<!-- Prima parte con logo e lista contatti -->
  <div class="row">
    <div class="col">
      <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><img src="https://raw.githubusercontent.com/EmanueleApostolo/Beta-Consulenze-Economiche/main/static/images/Logo CE.png" width="250" alt="Logo" style="margin-top: -20px"></use></svg>
    </div>
   </div>
   
   <div class="row">
     <div class="col">
        <p id="boot-icon" class="bi bi-geo-alt-fill" style="color: #142d4c; margin-left: 45px"> &nbsp; <strong> Via Rugabella 1 - 20122 Milano (MI) </strong></p>
     </div>
    </div>
    
    <!-- Linea divisoria -->
     <div class="row">
    <div class="col-lg-1" style="color: #142d4c; margin-left: 20px; margin-top: 15px;">
    <h3>***</h3>
    </div>
    </div>
    
    
     <div class="row">
       <div class="col" style="color: #142d4c; margin-left: 45px; margin-bottom: 10px;">
         <h3>Contatti</h3>
       </div>
      </div>
      
      <div class="row">
        <div class="col" style="color: #142d4c; margin-left: 45px">
          <p id="boot-icon" class="bi bi-telephone-fill" style="color: #142d4c;"> +39 02 2219 8970/71  </p>
        </div>
       </div>
         <div class="row">
           <div class="col" style="color: #142d4c; margin-left: 45px; margin-top: -8px;">
            <p><strong>Fax:</strong> +39 02 8718 2255  </p>
           </div>
          </div>
          <div class="row">
            <div class="col" style="color: #142d4c; margin-left: 45px; margin-top: -8px;">
             <p id="boot-icon" class="bi bi-envelope-fill" style="color: #142d4c;">  segreteria@consulenzeeconomiche.com </p>
            </div>
           </div>
           <div class="row">
            <div class="col" style="color: #142d4c; margin-left: 45px; margin-top: -8px;">
               <a href="https://it.linkedin.com/company/consulenze-economiche " target="_blank" style="color: #142d4c; text-decoration:none"><p id="boot-icon" class="bi bi-linkedin"  style="color: #142d4c;" > <strong> Linkedin </strong>  </p> </a>
             </div>
            </div>
            
             <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8">
            <hr class="hr hr-blurry" />
            </div>
            </div>
            
            
       <div class="row" style="margin-top: 30px;">
           <div class="col-lg-8">
             <iframe class="mb-4" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2798.5267715745736!2d9.185149854401699!3d45.459191496717985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786c6a9b8f968ef%3A0xb0a14017299454b7!2sVia%20Rugabella%2C%201%2C%2020122%20Milano%20MI!5e0!3m2!1sen!2sit!4v1707601377120!5m2!1sen!2sit" width="400vw" height="450" style="border:0;" referrerpolicy="no-referrer-when-downgrade"></iframe>
           </div>
            
       </div>
       
    </div>
  
   
</div>





{% endblock %}



