{% extends 'index.html' %}

{% block content %}

<!-- Tabella da mostrare con screen size da PC -->
<div class="container mt-4 d-none d-lg-block">

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link button-fancy" href="/ass_agcm" style=" font-size: min(16px, 1.15vw);">Assistenza in procedimenti <br>antitrust con AGCM</a>
      </li>
      <li class="nav-item border rounded-top">
        <a class="nav-link active"  style="color: #142d4c; font-size: min(16px, 1.05vw);"><strong>Identificazione e quantificazione <br>  danni antitrust, IP e contratti</strong> </a>
      </li>
      <li class="nav-item border rounded-top">
        <a class="nav-link button-fancy" href="/energia" style="font-size: min(16px, 1.05vw);">Mercati <br> dell'energia</a>
      </li>
      <li class="nav-item border rounded-top">
        <a class="nav-link disabled" href="#" style="font-size: min(16px, 1.05vw);">Proprietà intellettuale: <br> valutazione e contenzioso</a>
      </li>
      <li class="nav-item border rounded-top">
        <a class="nav-link button-fancy" href="/regolatorio" style="font-size: min(16px, 1.05vw);">Consulenza <br> regolatoria</a>
      </li>
      <li class="nav-item border rounded-top">
        <a class="nav-link button-fancy" href="/aiuti_stato" style="font-size: min(16px, 1.05vw);">Aiuti <br> di Stato</a>
      </li>
      <li class="nav-item border rounded-top">
        <a class="nav-link button-fancy" href="/arbitrati" style="font-size: min(16px, 1.05vw);"> &nbsp; <br>Arbitrati </a>
      </li>
    </ul>
  </div>
  <div class="card-body">
  
  <div class="row">
   <div class="col-1"><p class="card-title text-center" style="margin-top: 5px; color: #142d4c; text-orientation: upright; writing-mode: vertical-rl; font-size: 10px;"><strong><i class="bi bi-pie-chart-fill" style="font-size: 70px;"></i></strong></p></div>
    
    <div class="card-text col text-start" style="font-size: 18px; margin-left: 10px">
    <h3 class="card-title mt-2" style="color: #142d4c;"><strong>Identificazione e quantificazione <br>  danni antitrust, IP e contratti </strong>   </h3>
    <p class="card-text text-start mt-3" >

Numerose sono le situazioni nelle quali occorre quantificare il danno patito da una parte in ragione
di comportamenti anticompetitivi e vanno dalle violazioni antitrust (il c.d. private enforcement in sede civile),
alla concorrenza sleale nelle sue varie declinazioni, alle diverse possibili violazioni di diritti di proprietà
industriale (marchi, brevetti, segreti industriali).

     </p>
     <p class="card-text text-start">

 In tutti questi casi, la chiave di volta è come costruire lo scenario “contro-fattuale”, ossia congetturare
in modo ragionevole quali utili si sarebbero conseguiti in assenza dei comportamenti denunciati.

      </p>
      
       <p class="card-text text-start">

     La differenza tra il lavoro di un economista e quello di un contabile è che nel DNA dell’economista sta proprio
la costruzione di modelli e la loro calibrazione con i dati a disposizione.

          </p>
          <p class="card-text text-start">

        La capacità di utilizzare questi modelli ci consente di valutare in modo completo e logicamente coerente
le conseguenze dell’illecito, valutandolo in tutte le sue sfaccettature ma evitando duplicazioni.

              </p>
              
              <p align="left"><a  class="navbar-brand" href="/"><button class="button2" type="button" style="margin-top: 15px;"> <h3 class="display-3" style="font-size: 25px;"><strong>Torna alla home</strong>  &nbsp;<i class="bi bi-house-fill" style="font-size: 25px;"></i></h3></button></a></p>
              
  
 </div>
   </div>
  </div>
</div>

</div>

<!-- Tabella da mostrare con screen size da smartphone -->
<div class="container mt-4 d-lg-none">

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
         <a class=" nav-link active" style="color: #142d4c; font-size: 14px;"><div class="row"><i class="col-1 bi bi-pie-chart-fill" style="font-size: 32px; margin-top: -6px;"></i><div class="col"><strong>Identificazione e quantificazione <br>  danni antitrust, IP e contratti</strong></div></div></a>
      </li>
    </ul>
  </div>
  <div class="card-body">
  

    <div class="card-text col text-start" style="font-size: 14px;">
   
    <p class="card-text text-start mt-1" >

Numerose sono le situazioni nelle quali occorre quantificare il danno patito da una parte in ragione
di comportamenti anticompetitivi e vanno dalle violazioni antitrust (il c.d. private enforcement in sede civile),
alla concorrenza sleale nelle sue varie declinazioni, alle diverse possibili violazioni di diritti di proprietà
industriale (marchi, brevetti, segreti industriali).

     </p>
     <p class="card-text text-start">

 In tutti questi casi, la chiave di volta è come costruire lo scenario “contro-fattuale”, ossia congetturare
in modo ragionevole quali utili si sarebbero conseguiti in assenza dei comportamenti denunciati.

      </p>
      
       <p class="card-text text-start">

     La differenza tra il lavoro di un economista e quello di un contabile è che nel DNA dell’economista sta proprio
la costruzione di modelli e la loro calibrazione con i dati a disposizione.

          </p>
          <p class="card-text text-start">

        La capacità di utilizzare questi modelli ci consente di valutare in modo completo e logicamente coerente
le conseguenze dell’illecito, valutandolo in tutte le sue sfaccettature ma evitando duplicazioni.

              </p>
  
  <p align="center"><a  class="navbar-brand" href="/"><button class="button3" type="button" style="margin-top: 15px;"> <h3 class="display-3" style="font-size: 15px;"><strong>Torna alla home</strong>  &nbsp;<i class="bi bi-house-fill" style="font-size: 15px;"></i></h3></button></a></p>
  

   </div>
  </div>
</div>

</div>



{% endblock %}

