{% extends 'index.html' %}

{% block content %}


<!-- Tabella da mostrare con screen size da PC -->
<div class="container mt-4 d-none d-lg-block">

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link button-fancy" href="/ass_agcm"  style="font-size: min(16px, 1.15vw);">Assistenza in procedimenti <br>antitrust con AGCM</a>
      </li>
      <li class="nav-item border rounded-top">
        <a class="nav-link button-fancy" href="/danni" style="font-size: min(16px, 1.05vw);">Identificazione e quantificazione <br>  danni antitrust, IP e contratti </a>
      </li>
      <li class="nav-item border rounded-top">
        <a class="nav-link active"  style="color: #142d4c; font-size: min(16px, 1.05vw);"><strong>Mercati <br> dell'energia</strong></a>
      </li>
      <li class="nav-item border rounded-top">
        <a class="nav-link disabled" href="#" style="font-size: min(16px, 1.05vw);">Proprietà intellettuale: <br> valutazione e contenzioso</a>
      </li>
      <li class="nav-item border rounded-top">
        <a class="nav-link button-fancy" href="/regolatorio" style="font-size: min(16px, 1.05vw);">Consulenza <br> regolatoria</a>
      </li>
      <li class="nav-item border rounded-top">
        <a class="nav-link button-fancy" href="/aiuti_stato" style="font-size: min(16px, 1.05vw);">Aiuti <br> di Stato</a>
      </li>
      <li class="nav-item border rounded-top">
        <a class="nav-link button-fancy" href="/arbitrati" style="font-size: min(16px, 1.05vw);"> &nbsp; <br>Arbitrati </a>
      </li>
    </ul>
  </div>
  <div class="card-body">
  
  <div class="row">
   <div class="col-1"><p class="card-title text-center" style="margin-top: 5px; color: #142d4c; text-orientation: upright; writing-mode: vertical-rl; font-size: 10px;"><strong><i class="bi bi-battery-charging" style="font-size: 70px;"></i></strong></p></div>
    
    <div class="card-text col text-start" style="font-size: 18px; margin-left: 10px">
    <h3 class="card-title mt-2" style="color: #142d4c;"><strong>Mercati <br> dell'energia </strong>   </h3>
    <p class="card-text text-start mt-3" >

 Il nostro Studio ha una lunga storia di attività e ricerca nel campo energetico, dove il funzionamento
dei mercati all’ingrosso, di quelli al dettaglio e dei segmenti regolamentati pone problemi di una
complessità assolutamente peculiare.

     </p>
     <p class="card-text text-start">

 Si tratta di mercati nei quali intervento pubblico e libere decisioni delle imprese si intrecciano in modi
estremamente particolari, nei quali scelte di lungo periodo (capacità) e di breve (prezzi) interagiscono
secondo modalità che solo un'accurata analisi economica può dipanare.

      </p>
      
       <p class="card-text text-start">

    Assistiamo i nostri clienti sia nella valutazione di proposte di riforma
regolatorie o normative, sia nella definizione di strategie competitive o nella formulazione e valutazione
di scenari alternativi sul futuro.

          </p>
          <p class="card-text text-start">

         Questa particolare esperienza aiuta sia nel sostegno a processi di consultazione, sia nell'assistenza in giudizio
o in procedure arbitrali relative al settore.

              </p>
  
  <p align="left"><a  class="navbar-brand" href="/"><button class="button2" type="button" style="margin-top: 15px;"> <h3 class="display-3" style="font-size: 25px;"><strong>Torna alla home</strong>  &nbsp;<i class="bi bi-house-fill" style="font-size: 25px;"></i></h3></button></a></p>
  
 </div>
   </div>
  </div>
</div>

</div>

<!-- Tabella da mostrare con screen size da smartphone -->
<div class="container mt-4 d-lg-none">

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
         <a class=" nav-link active" style="color: #142d4c; font-size: 14px;"><div class="row"><i class="col-1 bi bi-battery-charging" style="font-size: 32px; margin-top: -6px;"></i><div class="col"><strong>Mercati <br>dell'energia</strong></div></div></a>
      </li>
    </ul>
  </div>
  <div class="card-body">
  

    <div class="card-text col text-start" style="font-size: 14px;">
   
       <p class="card-text text-start mt-3" >

    Il nostro Studio ha una lunga storia di attività e ricerca nel campo energetico, dove il funzionamento
   dei mercati all’ingrosso, di quelli al dettaglio e dei segmenti regolamentati pone problemi di una
   complessità assolutamente peculiare.

        </p>
        <p class="card-text text-start">

    Si tratta di mercati nei quali intervento pubblico e libere decisioni delle imprese si intrecciano in modi
   estremamente particolari, nei quali scelte di lungo periodo (capacità) e di breve (prezzi) interagiscono
   secondo modalità che solo un'accurata analisi economica può dipanare.

         </p>
         
          <p class="card-text text-start">

       Assistiamo i nostri clienti sia nella valutazione di proposte di riforma
   regolatorie o normative, sia nella definizione di strategie competitive o nella formulazione e valutazione
   di scenari alternativi sul futuro.

             </p>
             <p class="card-text text-start">

            Questa particolare esperienza aiuta sia nel sostegno a processi di consultazione, sia nell'assistenza in giudizio
   o in procedure arbitrali relative al settore.

                 </p>
              
               <p align="center"><a  class="navbar-brand" href="/"><button class="button3" type="button" style="margin-top: 15px;"> <h3 class="display-3" style="font-size: 15px;"><strong>Torna alla home</strong>  &nbsp;<i class="bi bi-house-fill" style="font-size: 15px;"></i></h3></button></a></p>
               

   </div>
  </div>
</div>

</div>

{% endblock %}

