{% extends 'index_2.html' %}

{% block content %}

<!-- Masthead-->
<div style="padding-top:130px;"></div>

<section>
<div class="container px-4" >
<div class="row" style=" color: #142d4c;">
<h2 style="font-size: 30px; margin-bottom:40px; margin-top:30px;"> Aree di attività <i class="bi bi-chevron-double-right"></i> <i class="entry" style="font-size: 30px;">Mercati dell'energia</i></h2>

<h3 class="display-3" style=" font-size: 25px;">
<strong>Il nostro Studio ha una lunga storia di attività e ricerca nel campo energetico, dove il funzionamento 
<br>dei mercati all’ingrosso, di quelli al dettaglio e dei segmenti regolamentati pone problemi di una 
<br>complessità assolutamente peculiare.</strong> 
</h3>
<h3 class="display-3" style="margin-top:5px; font-size: 25px;">
<strong>Si tratta di mercati nei quali intervento pubblico e libere decisioni delle imprese si intrecciano in modi 
<br>estremamente particolari, nei quali scelte di lungo periodo (<i>capacità</i>) e di breve (<i>prezzi</i>) interagiscono
<br>secondo modalità che solo un'accurata analisi economica può dipanare.</strong> 
</h3>
<h3 class="display-3" style="margin-top:5px; font-size: 25px;">
<strong>Lo Studio di Consulenze Economiche può assistere i clienti sia nella valutazione di proposte di riforma 
<br>regolatorie o normative, sia nella definizione di strategie competitive o nella formulazione e valutazione
<br>di scenari alternativi sul futuro.</strong>
 </h3>
<h3 class="display-3" style="margin-top:5px; font-size: 25px;">
 <strong>Questa particolare esperienza aiuta sia nel sostegno a processi di consultazione, sia nell'assistenza in giudizio
 <br>o in procedure arbitrali relative al settore.</strong>
</h3>
<p align="left" style="margin-top:35px;"><a  class="navbar-brand" href="/home"><button class="button1" type="button" style="margin-top: 30px;"> <h3 class="display-3" style="font-size: 25px;"><strong>Torna alla home</strong>  &nbsp;<i class="bi bi-house-fill" style="font-size: 25px;"></i></h3></button></a></p>

</div>
</div>
</section>
    
{% endblock %}




