{% extends 'index_2_eng.html' %}

{% block content %}

<!-- Masthead-->
<div style="padding-top:130px;"></div>

<section>
<div class="container px-4" >
<div class="row" style=" color: #142d4c;">
<h2 style="font-size: 30px; margin-bottom:40px; margin-top:30px;"> Areas of activity <i class="bi bi-chevron-double-right"></i> <i class="entry" style="font-size: 30px;">Energy markets</i></h2>

<h3 class="display-3" style=" font-size: 25px;">
<strong>Our firm has a long experience of activity and research in the energy field, where there are very peculiar problems, linked to the specificity of such sector, i.e. to the operation of the wholesale and retail marketplaces and of the regulated segments.  </strong>
</h3>
<h3 class="display-3" style="margin-top:5px; font-size: 25px;">
<strong>In these markets the public intervention and firms’ free decisions intersect in an extremely particular way, where long period choices (capacity) and short period choices (prices) interact in such a way, that only an accurate economic analysis can understand.  </strong>
</h3>
<h3 class="display-3" style="margin-top:5px; font-size: 25px;">
<strong>We assists clients both during the evaluation of regulatory/law reform proposals and during the definition of competitive strategies or during the creation/evaluation of alternative scenarios concerning the future. This specific know-how helps supporting our clients in consultation processes and in a trial or in judicial procedures relative to this sector.  </strong>
</h3>




<p align="left" style="margin-top:35px;"><a  class="navbar-brand" href="/home_eng"><button class="button1" type="button" style="margin-top: 30px;"> <h3 class="display-3" style="font-size: 25px;"><strong>Home page</strong>  &nbsp;<i class="bi bi-house-fill" style="font-size: 25px;"></i></h3></button></a></p>

</div>
</div>
</section>


    
{% endblock %}