{% extends 'index_2_eng.html' %}

{% block content %}

<!-- Masthead-->
<div style="padding-top:130px;"></div>

<section>
<div class="container px-4" >
<div class="row" style=" color: #142d4c;">
<h2 style="font-size: 30px; margin-top:30px;"> Articles <i class="bi bi-chevron-double-right"></i> <i class="entry" style="font-size: 30px;">Energy markets</i></h2>

<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
         <col span="1" style="width: 10%;">
          <col span="1" style="width: 15%;">
           <col span="1" style="width: 15%;">
    </colgroup>
    
    <!-- Put <thead>, <tbody>, and <tr>'s here! -->
    <tbody>
        <tr>
            <td><p align="left"><a  class="navbar-brand" href="/pubblicazioniaiutidistato_eng"> <button class="btn-fancy-2"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-1-square-fill"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">State aids</strong></h3></button></a></p></td>
            <td><p align="left"><a  class="navbar-brand" href="/pubblicazioniprocessicompetitivi_eng" > <button class="btn-fancy-2"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-2-square-fill"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">Analysis of competition processes</strong></h3></button></a></p></td>
             <td><p align="left"><a  class="navbar-brand" href="/pubblicazionifinanzainfrastrutture_eng"> <button class="btn-fancy-2"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-3-square-fill"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">Infrastructures and finance</strong></h3></button></a></p></td>
              <td><p align="left"><a  class="navbar-brand" href="/pubblicazionimercatienergia_eng" aria-disabled="true"> <button class="btn-fancy-fixed"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-4-square"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">Energy markets</strong></h3></button></a></p></td>
               <td><p align="left"><a  class="navbar-brand" href="/pubblicazioniservizipubblici_eng"> <button class="btn-fancy-2"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-5-square-fill"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">Local public services</strong></h3></button></a></p></td>
                <td><p align="left"><a  class="navbar-brand" href="/pubblicazioniteoriaregolazione_eng"> <button class="btn-fancy-2"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-6-square-fill"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">Theory of regulation</strong></h3></button></a></p></td>
        </tr>
    </tbody>
</table>

<div class="col" style="width:1000px;">
<div class="text-left" style="font-size: 20px; margin-top: 35px;">
    
<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 3%;">
       <col span="1" style="width: 97%;">
    </colgroup>
    
    
    
    <!-- Put <thead>, <tbody>, and <tr>'s here! -->
        <tbody>
            <tr>
                <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
                <td> R. Miniaci, C. Scarpa e P. Valbonesi, <strong>“Benefits to vulnerable consumers in Italian energy markets: a focus on the eligibility criterion”</strong></td>
            </tr>
            <tr class="spaceUnder">
                <td></td>
                <td><i>in Jon Strand (ed.) The Economics and Political Economy of Energy Subsides, The MIT Press, forthcoming</i></td>
            </tr>
            <tr>
                <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
                <td> R. Bianchini e M. Cirillo, <strong>“Natural gas consumption in the household sector: the impact of energy efficiency and fuel switching“</strong></td>
            </tr>
           <tr class="spaceUnder">
                <td></td>
                <td><i>REF-E Working Paper, 2015</i></td>
            </tr>
            <tr>
                <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
                <td> R. Miniaci, C. Scarpa e P. Valbonesi,  <strong>“Energy affordability and the benefits system in Italy”</strong></td>
            </tr>
            <tr class="spaceUnder">
                <td></td>
                <td><i> Energy Policy, 2014</i></td>
            </tr>
            
            <tr>
                <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
                <td>M. Polo e C. Scarpa,  <strong>“Liberalizing the Gas Industry: Take or Pay Contracts, Retail Competition and Wholesale Trade”</strong></td>
            </tr>
            <tr class="spaceUnder">
                <td></td>
                <td><i> International Journal of Industrial Organization, vol.31, p. 64-82, 2013</i></td>
            </tr>
            
            <tr>
                <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
                <td> G. Landi e C. Scarpa,   <strong>“Il livello ottimale degli incentivi verso la grid parity”</strong></td>
            </tr>
            <tr class="spaceUnder">
                <td></td>
                <td><i> in G. Napolitano e A. Zoppini (a cura di), Regole e mercato delle energie rinnovabili, Il Mulino, Bologna, 2013</i></td>
            </tr>
            
            <tr>
                <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
                <td> R. Bianchini e V. Sodano,  <strong>“Il nuovo assetto della distribuzione del gas: aspetti istituzionali e di mercato“</strong></td>
            </tr>
            <tr class="spaceUnder">
                <td></td>
                <td><i>  REF-E Working Paper, 2012</i></td>
            </tr>
            
            <tr>
                <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
                <td> C. Scarpa,  <strong>“L’industria del gas: aspetti economici”</strong></td>
            </tr>
            <tr class="spaceUnder">
                <td></td>
                <td><i>in Enciclopedia del gas e del petrolio, Treccani, Roma, 2008</i></td>
            </tr>
            
            <tr>
                <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
                <td> R. Miniaci, C. Scarpa e P. Valbonesi,  <strong>“Measuring the affordability of basic public utility services in Italy”</strong></td>
            </tr>
            <tr class="spaceUnder">
                <td></td>
                <td><i>Giornale degli Economisti e Annali di Economia, 2008</i></td>
            </tr>
            
            <tr>
                <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
                <td> R. Miniaci, C. Scarpa e P. Valbonesi,  <strong>“Distributional effects of price reforms in the Italian utility markets"</strong></td>
            </tr>
            <tr class="spaceUnder">
                <td></td>
                <td><i>Fiscal Studies, 2008</i></td>
            </tr>
            
             <tr>
                 <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
                 <td> M. Polo e C. Scarpa,  <strong>“The liberalization of energy markets in Europe”</strong></td>
             </tr>
            <tr class="spaceUnder">
                 <td></td>
                 <td><i>in F. Padoa Schioppa (a cura di) Annual report on monitoring Italy , ISAE, Roma, 2003</i></td>
             </tr>
             
             <tr>
                 <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
                 <td> C. Scarpa,  <strong> “Dopo il black-out”</strong></td>
             </tr>
             <tr class="spaceUnder">
                 <td></td>
                 <td><i>Energia , vol.24, pp.16-23, 2003</i></td>
             </tr>
             
             <tr>
                 <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
                 <td> C. Scarpa,  <strong> “Energia: dal pubblico al privato. E ritorno”</strong></td>
             </tr>
             <tr class="spaceUnder">
                 <td></td>
                 <td><i>Energia, vol. 23, 2002</i></td>
             </tr>
             
              <tr>
                  <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
                  <td> C. Scarpa  <strong> “Titolo V e politica energetica: per favore, riformiamo la riforma”</strong></td>
              </tr>
              <tr class="spaceUnder">
                  <td></td>
                  <td><i>in Mercato concorrenza, regole, vol.4, 2002</i></td>
              </tr>
              
               <tr>
                   <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
                   <td> M. Polo e C. Scarpa  <strong> “Gas: quanta concorrenza passerà nei tubi?”</strong></td>
               </tr>
               <tr class="spaceUnder">
                   <td></td>
                   <td><i>in Mercato concorrenza, regole, vol.2, 2000</i></td>
               </tr>
               
              
               <tr>
                   <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
                   <td> C. Scarpa,  <strong>“Chi ha paura della concorrenza nel settore elettrico? Note critiche al Decreto Bersani”</strong></td>
               </tr>
               <tr class="spaceUnder">
                   <td></td>
                   <td><i>Mercato, concorrenza regole, vol. 1, n.1, 1999</i></td>
               </tr>
               
               <tr>
                   <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
                   <td> C. Scarpa,  <strong>"Il settore elettrico”</strong></td>
               </tr>
               <tr class="spaceUnder">
                   <td></td>
                   <td><i>in Terzo rapporto sui servizi di pubblica utilità in Italia, Fondazione Rosselli, Milano, 1999</i></td>
               </tr>
               
                <tr>
                    <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
                    <td> M. Polo e C. Scarpa,  <strong>“La riforma del settore elettrico in Italia: Una privatizzazione al buio?”</strong></td>
                </tr>
                <tr class="spaceUnder">
                    <td></td>
                    <td><i>in F. Giavazzi, A. Penati and G. Tabellini (a cura di), Liberalizzazione dei mercati e privatizzazioni, Il Mulino, Bologna, 1998</i></td>
                </tr>
                
                <tr>
                    <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
                    <td>C. Scarpa,  <strong>“The attempts of regulatory authorities to enhance the efficiency of energy sectors in Europe: threats or incentives?”</strong></td>
                </tr>
                <tr class="spaceUnder">
                    <td></td>
                    <td><i>Revue de l’energie 1998, vol.49</i></td>
                </tr>
                
                <tr>
                    <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
                    <td>M. Polo e C. Scarpa,  <strong>“The Italian electricity sector between privatization and fear of competition”</strong></td>
                </tr>
                <tr class="spaceUnder">
                    <td></td>
                    <td><i>in M. Baldassarri, A. Macchiati e D. Piacentino (a cura di) The privatisation of public utilities. The case of Italy, MacMillan, London, 1996</i></td>
                </tr>
               
               
            
        </tbody>
</table>

<p align="left" style="margin-top:35px;"><a  class="navbar-brand" href="/home_eng"><button class="button1" type="button" style="margin-top: 30px;"> <h3 class="display-3" style="font-size: 25px;"><strong>Home page</strong>  &nbsp;<i class="bi bi-house-fill" style="font-size: 25px;"></i></h3></button></a></p>

</div>
</div>
</section>
    
{% endblock %}


