{% extends 'index_2.html' %}

{% block content %}

<!-- Masthead-->
<div style="padding-top:130px;"></div>

<section>
<div class="container px-4" >
<div class="row" style=" color: #142d4c;">
<h2 style="font-size: 30px; margin-top:30px;"> Pubblicazioni <i class="bi bi-chevron-double-right"></i> <i class="entry" style="font-size: 30px;">Aiuti di Stato</i></h2>

<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
         <col span="1" style="width: 10%;">
          <col span="1" style="width: 15%;">
           <col span="1" style="width: 15%;">
    </colgroup>
    
    <!-- Put <thead>, <tbody>, and <tr>'s here! -->
    <tbody>
        <tr>
            <td><p align="left"><a  class="navbar-brand" href="/pubblicazioniaiutidistato" aria-disabled="true"> <button class="btn-fancy-fixed"  type="button" style="margin-top: 30px; text-align: left" disabled> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-1-square"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">Aiuti di Stato</strong></h3></button></a></p></td>
            <td><p align="left"><a  class="navbar-brand" href="/pubblicazioniprocessicompetitivi"> <button class="btn-fancy-2"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-2-square-fill"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">Analisi dei processi competitivi</strong></h3></button></a></p></td>
             <td><p align="left"><a  class="navbar-brand" href="/pubblicazionifinanzainfrastrutture"> <button class="btn-fancy-2"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-3-square-fill"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">Infrastrutture e finanza</strong></h3></button></a></p></td>
              <td><p align="left"><a  class="navbar-brand" href="/pubblicazionimercatienergia"> <button class="btn-fancy-2"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-4-square-fill"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">Mercati dell'energia</strong></h3></button></a></p></td>
               <td><p align="left"><a  class="navbar-brand" href="/pubblicazioniservizipubblici"> <button class="btn-fancy-2"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-5-square-fill"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">Servizi pubblici locali</strong></h3></button></a></p></td>
                <td><p align="left"><a  class="navbar-brand" href="/pubblicazioniteoriaregolazione"> <button class="btn-fancy-2"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-6-square-fill"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">Teoria della regolazione</strong></h3></button></a></p></td>
        </tr>
    </tbody>
</table>

<div class="col" style="width:1000px;">
<div class="text-left" style="font-size: 20px; margin-top: 35px;">
    
<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 3%;">
       <col span="1" style="width: 97%;">
    </colgroup>
    
    
    
    <!-- Put <thead>, <tbody>, and <tr>'s here! -->
    <tbody>
        <tr>
            <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
            <td> M. Nicolini, C. Scarpa e P. Valbonesi, <strong>“Determinants of State Aid to Firms: The case of the European Automotive Industry”</strong></td>
        </tr>
        <tr class="spaceUnder">
            <td></td>
            <td><i>Industrial and Corporate Change, 2016</i></td>
        </tr>
        <tr>
            <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
            <td> M. Nicolini, C. Scarpa e P. Valbonesi, <strong>“State aid to the car industry: money in search of a strategy”</strong></td>
        </tr>
        <tr class="spaceUnder">
            <td></td>
            <td><i>Journal of Industry, Competition and Trade, p. 67-87, 2013</i></td>
        </tr>
        <tr>
            <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
            <td> M. Nicolini e C. Scarpa, <strong>“Quale prezzo per quattro ruote?”</strong></td>
        </tr>
        <tr>
            <td></td>
            <td><i>Equilibri - Rivista per lo sviluppo sostenibile, 2010, p. 181-187</i></td>
        </tr>
    </tbody>
</table>

<p align="left" style="margin-top:35px;"><a  class="navbar-brand" href="/home"><button class="button1" type="button" style="margin-top: 30px;"> <h3 class="display-3" style="font-size: 25px;"><strong>Torna alla home</strong>  &nbsp;<i class="bi bi-house-fill" style="font-size: 25px;"></i></h3></button></a></p>

</div>
</div>
</section>
    
{% endblock %}

