{% extends 'index_2_eng.html' %}

{% block content %}

<!-- Masthead-->
<div style="padding-top:130px;"></div>

<section>
<div class="container px-4" >
<div class="row" style=" color: #142d4c;">
<h2 style="font-size: 30px; margin-top:30px;"> Articles <i class="bi bi-chevron-double-right"></i> <i class="entry" style="font-size: 30px;">Theory of regulation</i></h2>

<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
         <col span="1" style="width: 10%;">
          <col span="1" style="width: 15%;">
           <col span="1" style="width: 15%;">
    </colgroup>
    
    <!-- Put <thead>, <tbody>, and <tr>'s here! -->
    <tbody>
        <tr>
            <td><p align="left"><a  class="navbar-brand" href="/pubblicazioniaiutidistato_eng"> <button class="btn-fancy-2"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-1-square-fill"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">State aids</strong></h3></button></a></p></td>
            <td><p align="left"><a  class="navbar-brand" href="/pubblicazioniprocessicompetitivi_eng" > <button class="btn-fancy-2"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-2-square-fill"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">Analysis of competition processes</strong></h3></button></a></p></td>
             <td><p align="left"><a  class="navbar-brand" href="/pubblicazionifinanzainfrastrutture_eng"> <button class="btn-fancy-2"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-3-square-fill"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">Infrastructures and finance</strong></h3></button></a></p></td>
              <td><p align="left"><a  class="navbar-brand" href="/pubblicazionimercatienergia_eng" > <button class="btn-fancy-2"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-4-square-fill"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">Energy markets</strong></h3></button></a></p></td>
               <td><p align="left"><a  class="navbar-brand" href="/pubblicazioniservizipubblici_eng" > <button class="btn-fancy-2"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-5-square-fill"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">Local public services</strong></h3></button></a></p></td>
                <td><p align="left"><a  class="navbar-brand" href="/pubblicazioniteoriaregolazione_eng" aria-disabled="true"> <button class="btn-fancy-fixed"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-6-square"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">Theory of regulation</strong></h3></button></a></p></td>
        </tr>
    </tbody>
</table>

<div class="col" style="width:1000px;">
<div class="text-left" style="font-size: 20px; margin-top: 35px;">
    
<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 3%;">
       <col span="1" style="width: 97%;">
    </colgroup>
    
    
    
    <!-- Put <thead>, <tbody>, and <tr>'s here! -->
        <tbody>
            <tr>
                <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
                <td> G. Calzolari e C. Scarpa, <strong>“Conglomerates and regulation”</strong></td>
            </tr>
            <tr class="spaceUnder">
                <td></td>
                <td><i>Economic Inquiry, 2016</i></td>
            </tr>
            <tr>
                <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
                <td> R. Fiocco e C. Scarpa, <strong>“Regulating Markets with Interdependent Demands”</strong></td>
            </tr>
           <tr class="spaceUnder">
                <td></td>
                <td><i>Information Economics and Policy, 2014</i></td>
            </tr>
            <tr>
                <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
                <td> G. Calzolari e C. Scarpa,  <strong>“Footloose monopolies: regulating a national champion”</strong></td>
            </tr>
            <tr class="spaceUnder">
                <td></td>
                <td><i> Journal of Economics and Management Strategy, 2009</i></td>
            </tr>
            
            <tr>
                <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
                <td> C. Scarpa,  <strong>“Dieci anni di riforme dei grandi settori a rete. Tanto rumore per cosa?”</strong></td>
            </tr>
            <tr class="spaceUnder">
                <td></td>
                <td><i> Mercato, concorrenza, regole, vol. 10(1), 2009</i></td>
            </tr>
            
            <tr>
                <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
                <td> M. Moretto, P. Panteghini e C. Scarpa,   <strong>“Profit Sharing and Investment by Regulated Utilities: A Welfare Analysis”</strong></td>
            </tr>
            <tr class="spaceUnder">
                <td></td>
                <td><i> Review of Financial Economics, 2008</i></td>
            </tr>
            
            <tr>
                <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
                <td> P. Panteghini e C. Scarpa  <strong>“Political Pressures and the Credibility of Regulation: Can Profit Sharing Mitigate Regulatory Risk?”</strong></td>
            </tr>
            <tr class="spaceUnder">
                <td></td>
                <td><i> International Review of Economics, 2008</i></td>
            </tr>
            
            <tr>
                <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
                <td> P. Panteghini e C. Scarpa,  <strong>“The distributional efficiency of alternative regulatory regimes: a real option approach”</strong></td>
            </tr>
            <tr class="spaceUnder">
                <td></td>
                <td><i>International Tax and Public Finance, 2003</i></td>
            </tr>
            
            <tr>
                <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
                <td> C. Scarpa,  <strong>Regulation as a Bargaining Process: Negotiation over Price and Cost-Reducing Investments”</strong></td>
            </tr>
            <tr class="spaceUnder">
                <td></td>
                <td><i>Oxford Economic Papers, 1994</i></td>
            </tr>
            
            <tr>
                <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
                <td> C. Scarpa,  <strong>“On the Effectiveness of Average Cost Pricing Regulation in the Presence of Learning-by-Doing”</strong></td>
            </tr>
            <tr>
                <td></td>
                <td><i>Giornale degli economisti e Annali di Economia, 48(1-2), 1989</i></td>
            </tr>
            
        </tbody>
</table>

<p align="left" style="margin-top:35px;"><a  class="navbar-brand" href="/home_eng"><button class="button1" type="button" style="margin-top: 30px;"> <h3 class="display-3" style="font-size: 25px;"><strong>Home page</strong>  &nbsp;<i class="bi bi-house-fill" style="font-size: 25px;"></i></h3></button></a></p>

</div>
</div>
</section>
    
{% endblock %}