{% extends 'index_2_eng.html' %}

{% block content %}

<!-- Masthead-->
<div style="padding-top:130px;"></div>

<section>
<div class="container px-4" >
<div class="row" style=" color: #142d4c;">
<h2 style="font-size: 30px; margin-top:30px;"> Articles <i class="bi bi-chevron-double-right"></i> <i class="entry" style="font-size: 30px;">Infrastructures and finance</i></h2>

<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
         <col span="1" style="width: 10%;">
          <col span="1" style="width: 15%;">
           <col span="1" style="width: 15%;">
    </colgroup>
    
    <!-- Put <thead>, <tbody>, and <tr>'s here! -->
    <tbody>
        <tr>
            <td><p align="left"><a  class="navbar-brand" href="/pubblicazioniaiutidistato_eng"> <button class="btn-fancy-2"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-1-square-fill"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">State aids</strong></h3></button></a></p></td>
            <td><p align="left"><a  class="navbar-brand" href="/pubblicazioniprocessicompetitivi_eng"> <button class="btn-fancy-2"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-2-square-fill"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">Analysis of competition processes</strong></h3></button></a></p></td>
             <td><p align="left"><a  class="navbar-brand" href="/pubblicazionifinanzainfrastrutture_eng"> <button class="btn-fancy-fixed"  type="button" style="margin-top: 30px; text-align: left" disabled> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-3-square"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">Infrastructures and finance</strong></h3></button></a></p></td>
              <td><p align="left"><a  class="navbar-brand" href="/pubblicazionimercatienergia_eng"> <button class="btn-fancy-2"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-4-square-fill"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">Energy markets</strong></h3></button></a></p></td>
               <td><p align="left"><a  class="navbar-brand" href="/pubblicazioniservizipubblici_eng"> <button class="btn-fancy-2"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-5-square-fill"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">Local public services</strong></h3></button></a></p></td>
                <td><p align="left"><a  class="navbar-brand" href="/pubblicazioniteoriaregolazione_eng" aria-disabled="true"> <button class="btn-fancy-2"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-6-square-fill"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">Theory of regulation</strong></h3></button></a></p></td>
        </tr>
    </tbody>
</table>

<div class="col" style="width:1000px;">
<div class="text-left" style="font-size: 20px; margin-top: 35px;">
    
<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 3%;">
       <col span="1" style="width: 97%;">
    </colgroup>
    
    
    
    <!-- Put <thead>, <tbody>, and <tr>'s here! -->
    <tbody>
        <tr>
            <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
            <td> A. Savoldi e C. Scarpa, <strong>“Servizi pubblici: i consumatori al centro dell’attenzione“</strong></td>
        </tr>
        <tr class="spaceUnder">
            <td></td>
            <td><i>in G. Arachi (a cura di) La finanza pubblica in Italia Rapporto 2016, Il Mulino, Bologna, 2016</i></td>
        </tr>
        <tr>
            <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
            <td> A. Savoldi e C. Scarpa, <strong>“Prove tecniche per il riordino dei cieli”</strong></td>
        </tr>
       <tr class="spaceUnder">
            <td></td>
            <td><i>Looking for changes, Unicredit, N.3, 2013</i></td>
        </tr>
        <tr>
            <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
            <td>F. Mazzarella e C. Scarpa,  <strong>“Deroghe e periodi transitori nei servizi pubblici”</strong></td>
        </tr>
        <tr class="spaceUnder">
            <td></td>
            <td><i> in A. Zanardi (a cura di) La finanza pubblica in Italia Rapporto 2013, Il Mulino, Bologna, 2013</i></td>
        </tr>
        
        <tr>
            <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
            <td> C. Scarpa,  <strong>“Commento a “Privatizzazioni e liberalizzazioni: i servizi di pubblica utilità fra politica e finanza” di A. Cavaliere"</strong></td>
        </tr>
        <tr class="spaceUnder">
            <td></td>
            <td><i> in M.C. Guerra and A. Zanardi (a cura di), La finanza pubblica italiana. Rapporto 2010, Il Mulino, Bologna (p.359-74), 2010.</i></td>
        </tr>
        
        <tr>
            <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
            <td> R. Bianchini, S. Bonini e L. Zanetti,   <strong>“The target Price accuracy in equity research“</strong></td>
        </tr>
        <tr class="spaceUnder">
            <td></td>
            <td><i> Journal of Business Finance and Accounting, 2010</i></td>
        </tr>
        
        <tr>
            <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
            <td> C. Cambini, G. Catalano e A. Savoldi,  <strong>“L’intervento pubblico nel trasporto ferroviario tra liberalizzazione e esigenze di servizio pubblico”</strong></td>
        </tr>
        <tr class="spaceUnder">
            <td></td>
            <td><i> Mercato, Concorrenza e Regole”, pp. 249‐281, 2009</i></td>
        </tr>
        
        <tr>
            <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
            <td> R. Bianchini e S. Bonini,  <strong> “Portfolio Returns and target prices“</strong></td>
        </tr>
        <tr class="spaceUnder">
            <td></td>
            <td><i>SSRN Working Paper, 2008</i></td>
        </tr>
        
        <tr>
            <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
            <td> C. Scarpa,  <strong>Il trasporto ferroviario: l’alba di una riforma”</strong></td>
        </tr>
        <tr class="spaceUnder">
            <td></td>
            <td><i>n C. Cambini, A. Giannaccari e F. Pammolli (a cura di), Le politiche di liberalizzazione in Italia. Proposte di riforma e linee di interventi settoriali, Il Mulino, Bologna, 2007</i></td>
        </tr>
        
        <tr>
            <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
            <td> B. Bortolotti, M. Fantini e C. Scarpa, <strong>“Why do Governments privatize abroad?”</strong></td>
        </tr>
        <tr class="spaceUnder">
            <td></td>
            <td><i>International Review of Finance, 2003</i></td>
        </tr>
        
         <tr>
             <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
             <td> C. Scarpa, <strong>“Cross listing as a privatisation strategy: dealing with the real aspects of financial interdependence”</strong></td>
         </tr>
         <tr class="spaceUnder">
             <td></td>
             <td><i>in R. Skidelsky (a cura di) Financial crises, Social Market Foundation, London, 2000</i></td>
         </tr>
         
         <tr>
             <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
             <td> C. Scarpa, <strong>“La privatizzazione di ENEL: successo o fallimento?”</strong></td>
         </tr>
         <tr class="spaceUnder">
             <td></td>
             <td><i>Energia, n. 4, 1999</i></td>
         </tr>
         
         <tr>
             <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
             <td> C. Scarpa, <strong>“Mercato dei capitali e processi di privatizzazione: alcune note critiche”</strong></td>
         </tr>
         <tr>
             <td></td>
             <td><i>Politica Economica, 1993</i></td>
         </tr>
        
    </tbody>
</table>

<p align="left" style="margin-top:35px;"><a  class="navbar-brand" href="/home_eng"><button class="button1" type="button" style="margin-top: 30px;"> <h3 class="display-3" style="font-size: 25px;"><strong>Home</strong>  &nbsp;<i class="bi bi-house-fill" style="font-size: 25px;"></i></h3></button></a></p>

</div>
</div>
</section>
    
{% endblock %}
