{% extends 'index_2.html' %}

{% block content %}

<!-- Masthead-->
<div style="padding-top:130px;"></div>

<section>
<div class="container px-4" >
<div class="row" style=" color: #142d4c;">
<h2 style="font-size: 30px; margin-top:30px;"> Pubblicazioni <i class="bi bi-chevron-double-right"></i> <i class="entry" style="font-size: 30px;">Servizi pubblici locali</i></h2>

<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
         <col span="1" style="width: 10%;">
          <col span="1" style="width: 15%;">
           <col span="1" style="width: 15%;">
    </colgroup>
    
    <!-- Put <thead>, <tbody>, and <tr>'s here! -->
    <tbody>
        <tr>
            <td><p align="left"><a  class="navbar-brand" href="/pubblicazioniaiutidistato"> <button class="btn-fancy-2"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-1-square-fill"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">Aiuti di Stato</strong></h3></button></a></p></td>
            <td><p align="left"><a  class="navbar-brand" href="/pubblicazioniprocessicompetitivi"> <button class="btn-fancy-2"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-2-square-fill"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">Analisi dei processi competitivi</strong></h3></button></a></p></td>
             <td><p align="left"><a  class="navbar-brand" href="/pubblicazionifinanzainfrastrutture"> <button class="btn-fancy-2"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-3-square-fill"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">Infrastrutture e finanza</strong></h3></button></a></p></td>
              <td><p align="left"><a  class="navbar-brand" href="/pubblicazionimercatienergia"> <button class="btn-fancy-2"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-4-square-fill"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">Mercati dell'energia</strong></h3></button></a></p></td>
               <td><p align="left"><a  class="navbar-brand" href="/pubblicazioniaiutidistato" aria-disabled="true"> <button class="btn-fancy-fixed"  type="button" style="margin-top: 30px; text-align: left" disabled> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-5-square"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">Servizi pubblici locali</strong></h3></button></a></p></td>
                <td><p align="left"><a  class="navbar-brand" href="/pubblicazioniteoriaregolazione"> <button class="btn-fancy-2"  type="button" style="margin-top: 30px; text-align: left"> <h3 class="display-3" style="font-size: 15px;"><i class="bi bi-6-square-fill"  style="font-size: 18px; margin-left: 1px;"></i><strong style="margin-left: 6px;">Teoria della regolazione</strong></h3></button></a></p></td>
        </tr>
    </tbody>
</table>

<div class="col" style="width:1000px;">
<div class="text-left" style="font-size: 20px; margin-top: 35px;">
    
<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 3%;">
       <col span="1" style="width: 97%;">
    </colgroup>
    
    
    
    <!-- Put <thead>, <tbody>, and <tr>'s here! -->
    <tbody>
        <tr>
            <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
            <td> A. Savoldi e C. Scarpa, <strong>“Servizi pubblici: l’accidentato cammino verso la concorrenza"</strong></td>
        </tr>
        <tr class="spaceUnder">
            <td></td>
            <td><i>in G. Arachi (a cura di) La finanza pubblica in Italia Rapporto 2015, Il Mulino, Bologna, 2015</i></td>
        </tr>
        <tr>
            <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
            <td> C. Scarpa, <strong>“I servizi pubblici: focus sui prezzi ma gli investimenti non possono attendere”</strong></td>
        </tr>
       <tr class="spaceUnder">
            <td></td>
            <td><i>in A. Zanardi (a cura di) La finanza pubblica in Italia Rapporto 2014, Il Mulino, Bologna, 2014</i></td>
        </tr>
        <tr>
            <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
            <td> C. Scarpa,  <strong>“I servizi pubblici: nuove autorità, regole migliori, ma la solita incertezza”</strong></td>
        </tr>
        <tr class="spaceUnder">
            <td></td>
            <td><i> in A. Zanardi (a cura di) La finanza pubblica in Italia Rapporto 2012, Il Mulino, Bologna, 2012</i></td>
        </tr>
        
        <tr>
            <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
            <td> C. Scarpa, B. Bortolotti, P. Bianchi e L. Pellizzola,  <strong>“Comuni SpA. Il capitalismo municipale in Italia”</strong></td>
        </tr>
        <tr class="spaceUnder">
            <td></td>
            <td><i>Il Mulino, Bologna, 2009</i></td>
        </tr>
        
        <tr>
            <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
            <td> C. Scarpa,   <strong>“La nozione di servizio pubblico locale e le riforme orizzontali”</strong></td>
        </tr>
        <tr class="spaceUnder">
            <td></td>
            <td><i> in L. Paolazzi (ed.) La riforma dei servizi pubblici locali, Roma, 2008</i></td>
        </tr>
        
        <tr>
            <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
            <td> C. Scarpa, B. Bortolotti e L. Pellizzola <strong>“Il Comune Azionista: un’analisi empirica del capitalismo municipale in Italia”</strong></td>
        </tr>
        <tr class="spaceUnder">
            <td></td>
            <td><i> Mercato, Concorrenza, Regole, 2007</i></td>
        </tr>
        
        <tr>
            <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
            <td> C. Scarpa,  <strong>“Imprese pubbliche locali di servizi: una realtà internazionale”</strong></td>
        </tr>
        <tr class="spaceUnder">
            <td></td>
            <td><i>CT City Issues, nr. 3/2006</i></td>
        </tr>
        
        <tr>
            <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
            <td> M. Polo e C. Scarpa,  <strong>“Le imprese multiutility”,</strong></td>
        </tr>
        <tr class="spaceUnder">
            <td></td>
            <td><i>in G. Muraro e P. Valbonesi (a cura di) I servizi idrici tra privatizzazione e regolamentazione, Carocci, Roma, 2003</i></td>
        </tr>
        
        <tr>
            <td><i class="bi bi-bookmark-fill" style="font-size: 20px;"></i></td>
            <td> C. Scarpa,  <strong>“I costi di distribuzione dell’energia elettrica in Italia: un’analisi quantitativa”</strong></td>
        </tr>
        <tr>
            <td></td>
            <td><i>Economia delle fonti di energia e dell’ambiente, 1998</i></td>
        </tr>
        
    </tbody>
</table>

<p align="left" style="margin-top:35px;"><a  class="navbar-brand" href="/home"><button class="button1" type="button" style="margin-top: 30px;"> <h3 class="display-3" style="font-size: 25px;"><strong>Torna alla home</strong>  &nbsp;<i class="bi bi-house-fill" style="font-size: 25px;"></i></h3></button></a></p>

</div>
</div>
</section>
    
{% endblock %}




