{% extends 'index_2.html' %}

{% block content %}

<!-- Masthead-->
<div style="padding-top:130px;"></div>

<section>
<div class="container px-4" >
<div class="row" style=" color: #142d4c;">
<h2 style="font-size: 30px; margin-bottom:40px; margin-top:30px;"> Aree di attività <i class="bi bi-chevron-double-right"></i> <i class="entry" style="font-size: 30px;">Identificazione e quantificazione danni: antitrust, IP e contratti</i></h2>

<h3 class="display-3" style=" font-size: 25px;">
<strong>Numerose sono le situazioni nelle quali occorre quantificare il danno patito da una parte in ragione 
<br>di comportamenti anticompetitivi e vanno dalle violazioni antitrust (il c.d. <i>private enforcement</i> in sede civile), 
<br>alla concorrenza sleale nelle sue varie declinazioni, alle diverse possibili violazioni di diritti di proprietà 
<br> industriale (<i>marchi</i>, <i>brevetti</i>, <i>segreti industriali</i>).</strong>
</h3>
<h3 class="display-3" style="margin-top:5px; font-size: 25px;">
<strong>In tutti questi casi, la chiave di volta è come costruire lo scenario <i>“contro-fattuale”</i>, ossia congetturare 
<br>in modo ragionevole quali utili si sarebbero conseguiti in assenza dei comportamenti denunciati</strong>.
</h3>
<h3 class="display-3" style="margin-top:5px; font-size: 25px;">
<strong>La differenza tra il lavoro di un economista e quello di un contabile è che nel DNA dell’economista sta proprio 
<br>la costruzione di modelli e la loro calibrazione con i dati a disposizione.</strong>
 </h3>
<h3 class="display-3" style="margin-top:5px; font-size: 25px;">
 <strong>La capacità di utilizzare questi modelli ci consente di valutare in modo completo e logicamente coerente 
 <br>le conseguenze dell’illecito, valutandolo in tutte le sue sfaccettature ma evitando duplicazioni.</strong>
</h3>
<p align="left" style="margin-top:35px;"><a  class="navbar-brand" href="/home"><button class="button1" type="button" style="margin-top: 30px;"> <h3 class="display-3" style="font-size: 25px;"><strong>Torna alla home</strong>  &nbsp;<i class="bi bi-house-fill" style="font-size: 25px;"></i></h3></button></a></p>

</div>
</div>
</section>


    
{% endblock %}






