{% extends 'index.html' %}

{% block content %}


<!-- Tabella da mostrare con screen size da PC -->
<div class="container mt-4 d-none d-lg-block">

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link button-fancy" href="/ass_agcm"  style="font-size: min(16px, 1.15vw);">Assistenza in procedimenti <br>antitrust con AGCM</a>
      </li>
      <li class="nav-item border rounded-top">
        <a class="nav-link button-fancy" href="/danni" style="font-size: min(16px, 1.05vw);">Identificazione e quantificazione <br>  danni antitrust, IP e contratti </a>
      </li>
      <li class="nav-item border rounded-top">
        <a class="nav-link button-fancy" href="/energia"  style="font-size: min(16px, 1.05vw);">Mercati <br> dell'energia</a>
      </li>
      <li class="nav-item border rounded-top">
        <a class="nav-link disabled" href="#" style="font-size: min(16px, 1.05vw);">Proprietà intellettuale: <br> valutazione e contenzioso</a>
      </li>
      <li class="nav-item border rounded-top">
        <a class="nav-link active" style="color: #142d4c; font-size: min(16px, 1.05vw);"><strong>Consulenza <br> regolatoria</strong></a>
      </li>
      <li class="nav-item border rounded-top">
        <a class="nav-link button-fancy" href="/aiuti_stato" style="font-size: min(16px, 1.05vw);">Aiuti <br> di Stato</a>
      </li>
      <li class="nav-item border rounded-top">
        <a class="nav-link button-fancy" href="/arbitrati" style="font-size: min(16px, 1.05vw);"> &nbsp; <br>Arbitrati </a>
      </li>
    </ul>
  </div>
  <div class="card-body">
  
  <div class="row">
   <div class="col-1"><p class="card-title text-center" style="margin-top: 5px; color: #142d4c; text-orientation: upright; writing-mode: vertical-rl; font-size: 10px;"><strong><i class="bi bi-clipboard-check" style="font-size: 70px;"></i></strong></p></div>
    
    <div class="card-text col text-start" style="font-size: 18px; margin-left: 10px">
    <h3 class="card-title mt-2" style="color: #142d4c;"><strong>Consulenza <br> regolatoria </strong>   </h3>
    <p class="card-text text-start mt-3" >

Le imprese sottoposte a vincoli di regolazione hanno sovente necessità di confrontarsi con
le Autorità nei processi di consultazione su temi quali i regimi tariffari la remunerazione
del capitale, la qualità del servizio e gli incentivi agli investimenti.

     </p>
     <p class="card-text text-start">

Lo Studio affianca le imprese in queste situazioni, aiutandole a inquadrare i problemi all’interno
dell'impostazione generale della regolazione, coniugando l’impostazione teorica che le Autorità
devono seguire e il punto di vista pratico.

      </p>
      
       <p class="card-text text-start">

   La vasta esperienza internazionale dei nostri consulenti consente di confrontare le proposte
nazionali con l’esperienza di altri paesi, valutandone i risultati ottenuti e le problematiche emerse.

          </p>
          <p class="card-text text-start">

        Spesso i provvedimenti delle Autorità spingono le imprese a ricorrere in via giudiziale, il che le pone
di fronte ad un complesso problema economico da affrontare dinnanzi alla magistratura amministrativa.
In queste circostanze il ruolo dell’economista è di spiegare complesse formule – e le loro ricadute sui problemi dell’impresa – a magistrati spesso più avvezzi a ragionare su principi che a comprendere relazioni matematiche
o principi economici.

              </p>
              
                        <p class="card-text text-start">

                      La consolidata esperienza dello Studio CE consente di effettuare un lavoro di mediazione, traducendo i principi
economici e le tecnicità in un linguaggio comprensibile, così da rappresentare – in tandem con i legali – in modo
efficace le ragioni delle imprese.

                            </p>
  
  <p align="left"><a  class="navbar-brand" href="/"><button class="button2" type="button" style="margin-top: 15px;"> <h3 class="display-3" style="font-size: 25px;"><strong>Torna alla home</strong>  &nbsp;<i class="bi bi-house-fill" style="font-size: 25px;"></i></h3></button></a></p>
  
 </div>
   </div>
  </div>
</div>

</div>

<!-- Tabella da mostrare con screen size da smartphone -->
<div class="container mt-4 d-lg-none">

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
         <a class=" nav-link active" style="color: #142d4c; font-size: 14px;"><div class="row"><i class="col-1 bi bi-clipboard-check" style="font-size: 32px; margin-top: -6px;"></i><div class="col"><strong>Consulenza <br>regolatoria</strong></div></div></a>
      </li>
    </ul>
  </div>
  <div class="card-body">
  

    <div class="card-text col text-start" style="font-size: 14px;">
   
         <p class="card-text text-start mt-3" >

     Le imprese sottoposte a vincoli di regolazione hanno sovente necessità di confrontarsi con
     le Autorità nei processi di consultazione su temi quali i regimi tariffari la remunerazione
     del capitale, la qualità del servizio e gli incentivi agli investimenti.

          </p>
          <p class="card-text text-start">

     Lo Studio affianca le imprese in queste situazioni, aiutandole a inquadrare i problemi all’interno
     dell'impostazione generale della regolazione, coniugando l’impostazione teorica che le Autorità
     devono seguire e il punto di vista pratico.

           </p>
           
            <p class="card-text text-start">

        La vasta esperienza internazionale dei nostri consulenti consente di confrontare le proposte
     nazionali con l’esperienza di altri paesi, valutandone i risultati ottenuti e le problematiche emerse.

               </p>
               <p class="card-text text-start">

             Spesso i provvedimenti delle Autorità spingono le imprese a ricorrere in via giudiziale, il che le pone
     di fronte ad un complesso problema economico da affrontare dinnanzi alla magistratura amministrativa.
     In queste circostanze il ruolo dell’economista è di spiegare complesse formule – e le loro ricadute sui problemi dell’impresa – a magistrati spesso più avvezzi a ragionare su principi che a comprendere relazioni matematiche
     o principi economici.

                   </p>
                   
                             <p class="card-text text-start">

                           La consolidata esperienza dello Studio CE consente di effettuare un lavoro di mediazione, traducendo i principi
     economici e le tecnicità in un linguaggio comprensibile, così da rappresentare – in tandem con i legali – in modo
     efficace le ragioni delle imprese.

                                 </p>
              
               <p align="center"><a  class="navbar-brand" href="/"><button class="button3" type="button" style="margin-top: 15px;"> <h3 class="display-3" style="font-size: 15px;"><strong>Torna alla home</strong>  &nbsp;<i class="bi bi-house-fill" style="font-size: 15px;"></i></h3></button></a></p>
               

   </div>
  </div>
</div>

</div>

{% endblock %}