{% extends 'index_2_eng.html' %}

{% block content %}

<!-- Masthead-->
<div style="padding-top:130px;"></div>

<section>
<div class="container px-4" >
<div class="row" style=" color: #142d4c;">
<h2 style="font-size: 30px; margin-bottom:40px; margin-top:30px;"> Areas of activity <i class="bi bi-chevron-double-right"></i> <i class="entry" style="font-size: 30px;">Support in antitrust proceedings before Agcm</i></h2>

<h3 class="display-3" style=" font-size: 25px;">
<strong>The Agcm deals with problems, where it is not easy to mark the border between law and economics; in case of infringement an economist has to verify the violation self, both by determining the dominance and by qualifying the behaviour. The market identification and the check whether the behaviour observed has been correct by the competitive point of view are typically traditional activities of our firm.</strong>
</h3>
<h3 class="display-3" style="margin-top:5px; font-size: 25px;">
<strong>In case of rather important concentrations, in many countries the support of an economist is usually sought, so that from the very beginning the data can be presented in the best correct way. In this phase the capability to apply economic theories to practice is essential, because the market definition and a detailed analysis of the competitive processes are fundamental in order to avoid the risk to arrest important transactions from the industrial point of view. </strong>
</h3>
<h3 class="display-3" style="margin-top:5px; font-size: 25px;">
<strong>The impressive experience and the credibility of our firm by the Authorities help the dialogue and encourage the correct organization and the success of these transactions.  </strong>


<p align="left" style="margin-top:35px;"><a  class="navbar-brand" href="/home_eng"><button class="button1" type="button" style="margin-top: 30px;"> <h3 class="display-3" style="font-size: 25px;"><strong>Home page</strong>  &nbsp;<i class="bi bi-house-fill" style="font-size: 25px;"></i></h3></button></a></p>

</div>
</div>
</section>


    
{% endblock %}
