{% extends 'index_2.html' %}

{% block content %}

<!-- Masthead-->
<div style="padding-top:130px;"></div>

<section>
<div class="container px-4" >
<div class="row" style=" color: #142d4c;">
<h2 style="font-size: 30px; margin-bottom:40px; margin-top:30px;"> Aree di attività <i class="bi bi-chevron-double-right"></i> <i class="entry" style="font-size: 30px;">Sostegno in cause antitrust con Agcm</i></h2>

<h3 class="display-3" style=" font-size: 25px;">
<strong>L’Agcm affronta problemi nei quali non è facile tracciare il confine tra diritto ed economia.<br>
Nei casi di abuso il lavoro di un economista è quello di definire l’esistenza stessa dell’illecito,<br>
sia tramite la determinazione della dominanza delle imprese coinvolte, sia con la qualificazione <br>dei comportamenti tenuti.</strong>
</h3>
<h3 class="display-3" style="margin-top:5px; font-size: 25px;">
<strong>Di fronte ad Intese potenzialmente anticoncorrenziali è fondamentale  individuare il mercato <br>
di riferimento e verificare se il comportamento osservato abbia delle valide spiegazioni competitive.
<br> Nel caso di concentrazioni di qualche rilevanza, in molti paesi è normale che si cerchi il sostegno di un 
<br>economista al momento della notifica, data l'importanza di presentare fin da subito i dati del caso 
<br>nel modo più corretto.</strong>
</h3>
<h3 class="display-3" style="margin-top:5px; font-size: 25px;">
<strong>La capacità di applicare gli studi teorici ad ogni singolo caso risulta fondamentale: 
<br>una dettagliata analisi del mercato rilevante e dei processi competitivi sono essenziali per evitare <br> il rischio di bloccare operazioni industrialmente importanti. </strong>
 </h3>
<h3 class="display-3" style="margin-top:5px; font-size: 25px;">
<strong>La consolidata esperienza e la credibilità del nostro Studio presso le Autorità aiutano il dialogo, 
<br>favorendo una corretta impostazione e il successo di questo tipo di operazioni.</strong>
 </h3>

<p align="left" style="margin-top:35px;"><a  class="navbar-brand" href="/home"><button class="button1" type="button" style="margin-top: 30px;"> <h3 class="display-3" style="font-size: 25px;"><strong>Torna alla home</strong>  &nbsp;<i class="bi bi-house-fill" style="font-size: 25px;"></i></h3></button></a></p>

</div>
</div>
</section>


    
{% endblock %}

